@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
@include sprites($spritesheet-sprites);

html {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // line-height: 1.5;
  color: $colorBlackText;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: $colorBlackText;
}

ol, ul {
  list-style: none;
}



input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { 
  flex: 1 0 auto; 
}

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
}

.container {
  max-width: calc(1552px + 32px);
  margin: 0 auto;
  padding: 0 16px;
  @media ( max-width: 1440px ) {
      max-width: calc(1240px + 32px);
  }
  @media ( max-width: 1200px ) {
      max-width: calc(1048px + 32px);
  }
}

//Модули
@import "modules/modules";


.page {
  &-content {
    background: #F1F1F1;
    padding: 20px 0 160px 0;
    @media ( max-width: 760px ) {
      padding: 0px 0 88px 0;
    }
    &-grid {
      &-item,
      &-sizer {
        width: calc(20% - 8px);
        float: left;
        margin-bottom: 8px;
        @media ( max-width: 1440px ) {
          width: calc(25% - 8px);
        }
        @media ( max-width: 992px ) {
          width: calc(100% / 3 - 8px);
        }
        @media ( max-width: 760px ) {
          width: calc(50% - 8px);
        }
      }
    }
  }
  &-card {
    &:hover {
      box-shadow: 0px 0px 0px 8px $colorAccent;
    }
    &-img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &-content {
      background: $colorLight;
    }
  }
  &-slider {
    height: 352px;
    width: calc(40% - 8px);
    @media ( max-width: 1440px ) {
      width: calc(50% - 8px);
    }
    @media ( max-width: 992px ) {
      width: calc(100% / 3 * 2 - 8px);
      height: 300px;
    }
    @media ( max-width: 760px ) {
      width: 100%;
      height: 256px;
    }
    &-item {
      position: relative;
      height: 100%;
      &-img {
        img {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          object-fit: cover;
        }
      }
      &__info {
        color: $colorLight;
        position: absolute;
        max-width: 205px;
        top: 32px;
        left: 20px;
      }
      &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 26px;
      }
      &__subtitle {
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0.01em;
      }
    }
    &-control {
      height: 40px;
      width: 40px;
      background: #333333;
      top: auto;
      bottom: 8px;
      &:after {
        display: none;
      }
      .icon-expand_more {
        fill: $colorLight;
        width: 14px;
        height: 9px;
      }
      &:hover .icon-expand_more {
        fill: $colorAccent;
      }
      @media ( max-width: 760px ) {
        display: none;
      }
    }
    &-prev {
      left: auto;
      right: 56px;
      transform: rotate(90deg);
    }
    &-next {
      right: 8px;
      transform: rotate(-90deg);
    }
    .swiper-pagination-bullets {
      width: auto;
      left: 20px;
      bottom: 16px;
      @media ( max-width: 760px ) {
        width: 100%;
        left: 0;
      }
    }
    &-pagination {
      .swiper-pagination-bullet {
        height: 8px;
        width: 8px;
        transform: rotate(45deg);
        border-radius: 0;
        background: $colorLight;
        opacity: 1;
      }
      .swiper-pagination-bullet-active {
        background: $colorAccent;
      }
    }
  }
}



.page {
  &-content {
    &-after {
      background: $colorLight;
      padding: 35px 0;
      position: relative;
      @media (max-width: 760px) {
        padding: 0 0 40px 0;
      }
      &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 760px) {
          flex-direction: column-reverse;
          justify-content: center;
        }
      }
    }
  }
}


.card {
  &-collection {
    &-content {
      padding: 12px 15px 20px 15px;
    }
    &__brand {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.015em;
      color: #828282;
      margin-bottom: 5px;
    }
    &__name {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 100%;
      margin-bottom: 12px;
      text-decoration: underline;
      text-decoration-color: $colorAccent;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 760px) {
        font-size: 16px;
        line-height: 20px;
      }
      .icon-expand_more {
        fill: #999999;
        width: 14px;
        height: 9px;
        transform: rotate(180deg);
      }
    }
    &__desc {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
    }
  }
  &-brand {
    &-content {}
    &__name {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      padding: 16px;
      border-top: 1px solid #E9E3E3;
      border-bottom: 1px solid #E9E3E3;
      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        text-decoration: underline;
        text-decoration-color: $colorAccent;
        @media (max-width: 760px) {
          font-size: 16px;
          line-height: 20px;
        }
      }
      &-flag {

      }
    }
    &__count {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.02em;
      color: #999999;
      padding: 16px;
      &-title {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .icon-expand_more {
          fill: #999999;
          width: 14px;
          height: 9px;
          transform: rotate(180deg);
        }
      }
    }
    &__list {
      padding-top: 16px;
      &-item {
        border-top: 1px solid #D9D9D9;
        a {
          display: block;
          padding: 12px 0 15px 0;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.04em;
          color: #151515;
        }
      }
    }
  }
}



.quantity {
  &-block {
    display: flex;
  }
  &-num-wrap {
    height: 48px;
    display: flex;
    align-items: center;
    margin: 0 4px;
    border: 2px solid #D9D9D9;
  }
  &-num {
    height: 100%;
    border: none;
    padding: 0;
    text-align: right;
    width: 50%;
    &-unit {
      padding-left: 5px;
    }
  }
  &-arrow {
    min-width: 48px;
    height: 48px;
    font-size: 40px;
    border: 2px solid #D9D9D9;
    background: #F1F1F1;
    position: relative;
    cursor: pointer;
    &:before {
      content: "";
      width: 16px;
      height: 2px;
      background: #333333;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: block;
    }
    &-plus {
      &:after {
        content: "";
        width: 2px;
        height: 16px;
        background: #333333;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
      }
    }
  }
}

.add-to-cart {
  cursor: pointer;
}

.calculate {
  display: flex;
  justify-content: space-between;
  padding: 65px 0;
  @media (max-width: 1200px) {
    flex-wrap: wrap;
  } 
  &-section {
    background: $colorLight;
  }
  &-title {
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0.01em;
    max-width: 477px;
    @media (max-width: 1440px) {
      max-width: 350px;
    }
    @media (max-width: 1200px) {
      max-width: 477px;
      padding-bottom: 15px; 
    } 
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }
  &-desc {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    padding-left: 25px;
    border-left: 4px solid $colorAccent;
    max-width: 480px;
    @media (max-width: 1200px) {
      order: 1;
    } 
    @media (max-width: 768px) {
      order: 0;
      padding-left: 0px;
      border-left: none;
      border-top: 4px solid $colorAccent;
      padding-top: 20px;
      padding-bottom: 37px;
    }
  }
  &-btn {
    border-radius: 2px;
    background: #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    color: $colorLight;
    width: 248px;
    height: 56px;
    border: none;
    margin-top: 6px;
  }
}


.advantages {
  display: flex;
  justify-content: space-between;
  &-block {
    display: flex;
    &-img {
      padding-right: 12px;
    }
    &-text {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-decoration: underline;
      text-decoration-color: $colorAccent;
    }
  }
}



.pager {
  display: flex;
  justify-content: space-between;
  @media (max-width: 760px) {
    flex-direction: column-reverse;
    align-items: center;
  }
  &-content {
    display: flex;
    a {
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 5px;
    }
    a.current-page {
      background: $colorAccent;
    }
    @media (max-width: 760px) {
      padding-top: 16px;
    }
  }
  &-more {
    width: 304px;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.04em;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-renew {
      height: 24px;
      width: 24px;  
      fill: #DADADA;
      margin-right: 10px;
    }
    @media (max-width: 760px) {
      position: absolute;
      top: -70px;
      border: none;
    }
  }
}