@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
// @include sprites($spritesheet-sprites);

html {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // line-height: 1.5;
  color: $colorBlackText;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: $colorBlackText;
}

ol, ul {
  list-style: none;
}



input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { flex: 1 0 auto; }

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
}

.container {
  max-width: calc(1552px + 32px);
  margin: 0 auto;
  padding: 0 16px;
  @media ( max-width: 1440px ) {
      max-width: calc(1240px + 32px);
  }
  @media ( max-width: 1200px ) {
      max-width: calc(1048px + 32px);
  }
}

//Модули
@import "modules/modules";




