@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/sprite";
@include sprites($spritesheet-sprites);

html {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  // line-height: 1.5;
  color: $colorBlackText;
}

*,
*::before,
*::after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin: 0;
}

a {
  text-decoration: none;
  color: $colorBlackText;
}

ol, ul {
  list-style: none;
}



input,
button,
textarea,
select { font: inherit; }

audio,
canvas,
iframe,
img,
svg,
video,
textarea { vertical-align: middle; }

textarea { resize: none; }

section { position: relative; }

input,
select,
button { outline: none; }

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content { 
  flex: 1 0 auto; 
  background: #F1F1F1;
}

.container {
  margin: 0 auto;
  max-width: $content;
  width: 100%;
}

.container {
  max-width: calc(1552px + 32px);
  margin: 0 auto;
  padding: 0 16px;
  @media ( max-width: 1440px ) {
      max-width: calc(1240px + 32px);
  }
  @media ( max-width: 1200px ) {
      max-width: calc(1048px + 32px);
  }
}

//Модули
@import "modules/modules";



.page {
  &-content {
    padding: 25px 0 60px 0;
    // padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: 1px;
    @media ( max-width: 1440px ) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media ( max-width: 1024px ) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media ( max-width: 760px ) {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 0;
    }
    &-item {
      display: block;
      width: 100%;
      transition: all .3s ease-out;
    }
  }
  &-slider {
    grid-column: 1 / 3;
    height: 352px;
    background: gray;
    overflow: hidden;
    position: relative;
    &-item {
      position: relative;
      figure {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &__text {
        position: absolute;
        top: 32px;
        left: 20px;
        max-width: 204px;
        color: $colorLight;
        &-title {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 100%;
          padding-bottom: 26px;
        }
        &-subtitle {
          font-style: normal;
          font-weight: bold;
          font-size: 32px;
          line-height: 100%;
          letter-spacing: 0.01em;
        }
      }
    }
    .swiper-pagination {
      width: auto;
      left: 30px;
      bottom: 16px;
      &-bullet {
        height: 8px;
        width: 8px;
        background: $colorLight;
        border-radius: 0;
        transform: rotate(45deg);
        &-active {
          background: $colorAccent;
        }
      }
    }
    &-nav {
      position: absolute;
      bottom: 8px;
      right: 8px;
      height: 40px;
      width: 88px;
      z-index: 2;
      display: flex;
      justify-content: space-between;
      > div {
        background: #333333;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        height: 40px;
        width: 40px;
        opacity: 1;
        position: unset;
        opacity: 1;
        margin: 0;
        .svg-sprite-icon {
          fill: $colorLight;
          height: 10px;
        }
        &:hover .svg-sprite-icon {
          fill: $colorAccent;
        }
      }
      .swiper-button-next {
        .svg-sprite-icon {
          transform: rotate(90deg);
        }
      }
      .swiper-button-prev {
        .svg-sprite-icon {
          transform: rotate(-90deg);
        }
      }
    }
  }
  &-card {
    position: relative;
    background: $colorLight;
    z-index: 0;
    &:after {
      content: '';
      height: calc(100% + 10px);
      width: calc(100% + 10px);
      display: none;
      top: -5px;
      left: -5px;
      position: absolute;
      z-index: -1;
    }
    &:hover::after {
      display: block;
      background: $colorAccent;
    }
    &-inner {
      height: 100%;
    }
    &-collection {
      background: $colorLight;
      figure {
        position: relative;
        overflow: hidden;
        img {
          max-width: 100%;
          margin: auto;
          display: block;
        }
      }
      &-gallery {
        img {
          display: none;
          &:first-child {
            display: block;
          }
        }
      }
      &-badge {
          position: absolute;
          font-style: normal;
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          text-align: center;
          letter-spacing: 0.05em;
          top: 16px;
          left: 16px;
          display: flex;
          flex-wrap: wrap;
          align-items: start;
          &__info {
            background: $colorAccent;
            color: linear-gradient(0deg, #333333, #333333);
            padding: 4px 10px;
            margin-right: 4px;
            margin-bottom: 4px;
          }
          &__have {
            background: linear-gradient(0deg, #333333, #333333);
            color: $colorLight;
            padding: 4px 10px;
          }
        }
      &-content {
        padding: 12px 15px 20px;
        @media ( max-width: 760px ) {
          padding: 8px 8px 16px;
        }
        &__brand {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          letter-spacing: 0.015em;
          color: #828282;
        }
        &__name {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 4px 0 15px 0;
          position: relative;
          text-decoration: underline;
          text-decoration-color: $colorAccent;
          cursor: pointer;
          &:after {
            content: "";
            width: 20px;
            height: 16px;
            background: url('/static/images/common/expand_more_brs.svg') center no-repeat;
            transition: all .3s ease-out;
            display: none;
            @media ( max-width: 760px ) {
              display: block;
            }
          }
          @media ( max-width: 760px ) {
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.04em;  
          }
        }
        &__desc {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          @media ( max-width: 760px ) {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.005em;
            max-height: 0;
            opacity: 0;
            height: 100%;
            transition: all .3s ease-out;
          }
        }
      }
      &_active {
        .page-card-collection-content__name {
          &:after {
            content: "";
            transform: rotate(-180deg);
          }
        }
        .page-card-collection-content__desc {
          opacity: 1;
          max-height: 100%;
        }
      }
    }
  }    
}



