header.header
	.container
		.header-wrap
			.header-top
				.header-top__left
					ul
						li
							a(href='#') Шоурум
						li
							a(href='#') 3D-визуализация
						li
							a(href='#') Заказ и доставка
				.header-top__right
					ul
						li
							a(href='#') Сотрудничество
						li
							a(href='#') Дилерский отдел
						li
							a(href='#') Контакты
			.header-main
				figure.logo
					img(src='static/images/common/logo.svg' alt='logo')
				.header-content
					.header-content-block.header-content__address
						figure.header-content-block__icon
							img(src='static/images/common/map-marker.svg' alt='icon')
						.header-content-block__text
							span г. Москва, 1-й Щемиловский пер., 17/1 м. Новослободская
							a.header-content-block__info(href='#') Как добраться?
					.header-content-block.header-content__phone
						figure.header-content-block__icon
							img(src='static/images/common/phone.svg' alt='icon')
						.header-content-block__text
							span для Москвы и МО
							a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
						figure.header-content-block__icon.header-content__phone__more
							img(src='static/images/common/expand_more.svg' alt='icon')
					.header-content-block.header-content__worktime
						figure.header-content-block__icon
							img(src='static/images/common/clock.svg' alt='icon')
						.header-content-block__text
							.header-content-block__text
								span пн-пт
								span.header-content-block__info 9:00 — 20:00
							.header-content-block__text
								span сб-вс
								span.header-content-block__info 10:00 — 18:00
					.header-content-circle.header-content__favourites
						+icon('favourites')
						.header-content-circle__badge 28
					.header-content-circle.header-content__cart
						+icon('shopping-cart')
						.header-content-circle__badge 4
	.header-bot 
		.container
			.header-bot-wrap
				.header-bot-inner.header-bot-inner__catalog
					a.header-bot-catalog__link(href="#") Каталог
					ul.header-bot-list
						li.header-bot-list__item
							a(href="#") A
						li.header-bot-list__item
							a(href="#") B
						li.header-bot-list__item
							a(href="#") C
						li.header-bot-list__item
							a(href="#") D
						li.header-bot-list__item
							a(href="#") E
						li.header-bot-list__item
							a(href="#") F
						li.header-bot-list__item
							a(href="#") G
						li.header-bot-list__item
							a(href="#") H
						li.header-bot-list__item
							a(href="#") I
						li.header-bot-list__item
							a(href="#") J
						li.header-bot-list__item
							a(href="#") K
						li.header-bot-list__item
							a(href="#") L
						li.header-bot-list__item.letter_m
							a(href="#") M
						li.header-bot-list__item.letter_n
							a(href="#") N
						li.header-bot-list__item.letter_o
							a(href="#") O
						li.header-bot-list__item.letter_p
							a(href="#") P
						li.header-bot-list__item.letter_q
							a(href="#") Q
						li.header-bot-list__item.letter_r
							a(href="#") R
						li.header-bot-list__item.letter_s
							a(href="#") S
						li.header-bot-list__item.letter_t
							a(href="#") T
						li.header-bot-list__item.letter_u
							a(href="#") U
						li.header-bot-list__item.letter_v
							a(href="#") V
						li.header-bot-list__item.letter_w
							a(href="#") W
						li.header-bot-list__item.letter_x
							a(href="#") X
						li.header-bot-list__item.letter_z
							a(href="#") Z
						li.header-bot-list__item.letter_u-z
							a(href="#") U-Z
						li.header-bot-list__item.letter_n-z
							a(href="#") N-Z
						li.header-bot-list__item.zero-nine
							a(href="#") 0-9
						li.header-bot-list__item
							a(href="#") А-Я
				.header-bot-inner.header-bot-inner__search
					.header-bot-filter
						figure.header-bot-filter__icon
							img(src="static/images/common/filter.svg", alt="icon")
						.header-bot-filter__text Поиск по параметрам
					.header-bot-search
						input#search-input.header-bot-search__input(type="text" placeholder="Поиск")
						figure.header-bot-search__icon
							img(src="static/images/common/search.svg", alt="icon")