.alert.alert-warning
	.container
		.alert-content
			.alert-badge ГРАФИК РАБОТЫ
			.alert-text Изменения в графике работы магазина в праздничные дни. 1 мая — с 12:00 по 14:00; 2–4 мая — с 15:00 по 18:00.
			a(href="#").alert-link Подробнее
			.alert-close
				+icon('close_brs')
.alert
	.container
		.alert-content
			.alert-badge ГРАФИК РАБОТЫ
			.alert-text Изменения в графике работы магазина в праздничные дни. 1 мая — с 12:00 по 14:00; 2–4 мая — с 15:00 по 18:00.
			a(href="#").alert-link Подробнее
			.alert-close
				+icon('close_brs')

header.header
	.container
		.header-wrap
			.header-top
				.header-top__left
					ul.header-top__left-menu
						li
							a(href='#') Шоурум
						li
							a.3d-visual(href='#') 3D-визуализация
						li
							a(href='#') Заказ и доставка
				.header-top__right
					ul.header-top__right-menu
						li
							a(href='#') Сотрудничество
								figure.header-top__icon.header-top__more
									+icon('expand_more')
							ul.header-drop-menu.header-top__right-drop-menu
								li
									a(href="#") Дилерам
								li
									a(href="#") Строительным организациям
								li
									a(href="#") Дизайнерам и архитекторам
						li
							a(href='#') Дилерский отдел
						li
							a(href='#') Контакты
			.header-main
				a(href="/").logo
					img(src='static/images/common/logo.svg' alt='logo')
				.header-content
					.header-content-block.header-content__address
						figure.header-content-block__icon
							+icon('map-marker')
						.header-content-block__text г. Москва, 1-й Щемиловский пер., 17/1 м. Новослободская 
								a.header-content-block__info(href='#') 
									| &nbsp;Как добраться?
					.header-content-block.header-content__phone
						figure.header-content-block__icon
							+icon('phone')
						.header-content-block__text
							span для Москвы и МО
							a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
						figure.header-content-block__icon.header-content__phone__more
							+icon('expand_more')
						ul.header-drop-menu.header-content__phone-drop-menu
							li
								.header-content__phone-drop-menu-inner
									span для Москвы и МО
									a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
								a.header-content-circle(href='tel:+74956498420')
									+icon('phone')
							li
								.header-content__phone-drop-menu
									span для регионов РФ 
									span (бесплатно)
									a.header-content-block__info(href='tel:88007075037') 8 800 707-5037
								a.header-content-circle(href='tel:88007075037')
									+icon('phone')
					.header-content-block.header-content__worktime
						figure.header-content-block__icon
							+icon('clock')
						ul.header-drop-menu.header-content__worktime-drop-menu
							li
								.header-content-block__text
									span пн-пт
									span.header-content-block__info 9:00 — 20:00
								.header-content-block__text
									span сб-вс
									span.header-content-block__info 10:00 — 18:00
						.wrapper
							.header-content-block__text
								span пн-пт
								span.header-content-block__info 9:00 — 20:00
							.header-content-block__text
								span сб-вс
								span.header-content-block__info 10:00 — 18:00
					a(href="/favorites.html").header-content-circle.header-content__favourites
						+icon('favourites')
						input(type="number" value="0" disabled).header-content-circle__badge
						ul.header-drop-menu.favourites-empty__drop-menu
							li
								.favourites-empty__text
									p Список избранных коллекций пуст
									p На страницах коллекций нажимайте кнопку
							li
								.favourites-empty__icon 
									+icon('favourites')
					a(href="/cart.html").header-content-circle.header-content__cart
						+icon('shopping-cart')
						input(type="number" value="0" disabled).header-content-circle__badge.cart-count
						ul.header-drop-menu.cart-empty__drop-menu
							li
								.cart-empty__text
									p Ваша корзина пуста
				.header-burger
					.header-burger-line.header-burger-line__top
					.header-burger-line.header-burger-line__mid
					.header-burger-line.header-burger-line__bot
	.header-bot
		.container
			.header-bot-wrap
				.header-bot-inner.header-bot-inner__catalog
					a(href="/").header-bot-logo
						+icon('logo')
					a.header-bot-catalog__link(href="#") Каталог
					ul.header-bot-list
						li.header-bot-list__item
							a(href="#") A
						li.header-bot-list__item
							a(href="#") B
							ul.header-drop-menu.header-bot-list-drop-menu
								li
									ul
										li
											a(href="#") бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
								li
									ul
										li
											a(href="#") бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
						li.header-bot-list__item
							a(href="#") C
						li.header-bot-list__item
							a(href="#") D
						li.header-bot-list__item
							a(href="#") E
						li.header-bot-list__item
							a(href="#") F
						li.header-bot-list__item
							a(href="#") G
						li.header-bot-list__item
							a(href="#") H
						li.header-bot-list__item
							a(href="#") I
						li.header-bot-list__item
							a(href="#") J
						li.header-bot-list__item
							a(href="#") K
						li.header-bot-list__item
							a(href="#") L
						li.header-bot-list__item.letter_m
							a(href="#") M
						li.header-bot-list__item.letter_n
							a(href="#") N
						li.header-bot-list__item.letter_o
							a(href="#") O
						li.header-bot-list__item.letter_p
							a(href="#") P
						li.header-bot-list__item.letter_q
							a(href="#") Q
							ul.header-drop-menu.header-bot-list-drop-menu
								li
									ul
										li
											a(href="#") бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
						li.header-bot-list__item.letter_r
							a(href="#") R
						li.header-bot-list__item.letter_s
							a(href="#") S
						li.header-bot-list__item.letter_t
							a(href="#") T
						li.header-bot-list__item.letter_u
							a(href="#") U
						li.header-bot-list__item.letter_v
							a(href="#") V
						li.header-bot-list__item.letter_w
							a(href="#") W
						li.header-bot-list__item.letter_x
							a(href="#") X
						li.header-bot-list__item.letter_z
							a(href="#") Z
						li.header-bot-list__item.letter_u-z
							a(href="#") U-Z
						li.header-bot-list__item.letter_n-z
							a(href="#") N-Z
						li.header-bot-list__item.zero-nine
							a(href="#") 0-9
						li.header-bot-list__item
							a(href="#") А-Я
				.header-bot-inner.header-bot-inner__search
					.header-bot-filter
						figure.header-bot-filter__icon
							+icon('filter')
							+icon('close_brs')
						.header-bot-filter__text Поиск по параметрам
					form.header-bot-search
						input#search-input.header-bot-search__input(type="text" placeholder="Поиск" autocomplete="off")
						.header-bot-search__nav
							input(type="reset" value="").header-bot-search__clear
							button(type="submit" value="").header-bot-search__icon
								+icon('search')
						.bx_searche
					a(href="tel:+74956468620").header-bot-phone 
						figure.header-bot-phone__icon
							+icon('phone-o')
						span +7 495 646-86-20
					.header-bot-mobile-item.header-bot-mobile-item-search
						+icon('search')
						.header-bot-mobile-item-desc Поиск
					a(href="/contacts-shop.html").header-bot-mobile-item
						+icon('map-marker')
						.header-bot-mobile-item-desc Адрес шоурума
					.header-bot-mobile-item.header-bot-mobile-phone
						+icon('phone')
						.header-bot-mobile-item-desc Звоните нам
						ul.header-drop-menu.header-mobile-phone-drop-menu
							li
								.header-content__phone-drop-menu-inner
									span для Москвы и МО
									a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
								a.header-content-circle(href='tel:+74956498420')
									+icon('phone')
							li
								.header-content__phone-drop-menu
									span для регионов РФ 
									span (бесплатно)
									a.header-content-block__info(href='tel:88007075037') 8 800 707-5037
								a.header-content-circle(href='tel:88007075037')
									+icon('phone')
					a(href="/favorites.html").header-bot-mobile-item.header-bot-mobile-item__favourites
						input(type="number" value="0" disabled).header-bot-mobile-item__badge.favourites-count
						+icon('favourites')
						.header-bot-mobile-item-desc Избранные коллекции
						ul.header-drop-menu.favourites-empty__drop-menu
							li
								.favourites-empty__text
									p Список избранных коллекций пуст
									p На страницах коллекций нажимайте кнопку
							li
								.favourites-empty__icon 
									+icon('favourites')
					a(href="/cart.html").header-bot-mobile-item.header-bot-mobile-item__cart
						input(type="number" value="0" disabled).header-bot-mobile-item__badge.cart-count 
						+icon('shopping-cart')
						.header-bot-mobile-item-desc Ваш заказ
						ul.header-drop-menu.cart-empty__drop-menu
							li
								.cart-empty__text
									p Ваша корзина пуста
					.header-bot-mobile-search-close Отмена
	form.header-filter 
		.container 
			.header-filter-head
				.header-filter-head__title Поиск по параметрам
				.header-filter-head__close
					+icon('search-clear')
			.header-filter-top
				.header-filter-top-left
					label
						input(type="checkbox" name='novelty' value="1")
						| Новинка
					label
						input(type="checkbox" name='bestseller' value="1")
						| Хит продаж
					label
						input(type="checkbox" name='sale' value="1")
						| Распродажа
				.header-filter-top-right
					label
						input(type="checkbox" name='in-stock' value="1")
						| В наличии
					label
						input(type="checkbox" name='on-the-way' value="1")
						| В пути на склад
					label
						input(type="checkbox" name='under-the-order' value="1")
						| Под заказ
			.header-filter-main
				ul.header-filter-list
					li.header-filter-list-item 
						.header-filter-list-item__title Тип материала
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Страна производителя
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
						ul.header-drop-menu.header-filter-list-drop-menu
							li
								label
									input(type="checkbox" name='country' value="1")
									| Россия
							li
								label
									input(type="checkbox" name='country' value="2")
									| Китай
							li
								label
									input(type="checkbox" name='country' value="3")
									| Израиль
							li
								label
									input(type="checkbox" name='country' value="4")
									| Сингапур
							li
								label
									input(type="checkbox" name='country' value="5")
									| Кения
							li
								label
									input(type="checkbox" name='country' value="6")
									| Алжир
							li
								label
									input(type="checkbox" name='country' value="7")
									| Венесуэлла
							li
								label
									input(type="checkbox" name='country' value="8")
									| Таджикистан
							li
								label
									input(type="checkbox" name='country' value="9")
									| Узбекистан
							li
								label
									input(type="checkbox" name='country' value="10")
									| Киргизия
							li
								label
									input(type="checkbox" name='country' value="11")
									| Мордор
					li.header-filter-list-item 
						.header-filter-list-item__title Фабрика/ бренд
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Ценовой диапазон
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Место применения
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Настенная/ напольная
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Формат
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Размер
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Стиль
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Фактура
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Текстура
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
					li.header-filter-list-item 
						.header-filter-list-item__title Цвет
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						.filter-list-count
						ul.header-drop-menu.header-filter-list-drop-menu
							li
								label
									input(type="checkbox" name='color' value="1")
									| Бежевый
									.circle-color.circle-color__border(style="background:beige;")
							li
								label
									input(type="checkbox" name='color' value="2")
									| Белый
									.circle-color.circle-color__border(style="background:white;")
							li
								label
									input(type="checkbox" name='color' value="3")
									| Жёлтый
									.circle-color(style="background:yellow;")
							li
								label
									input(type="checkbox" name='color' value="4")
									| Зелёный
									.circle-color(style="background:green;")
							li
								label
									input(type="checkbox" name='color' value="5")
									| Голубой
									.circle-color(style="background:skyblue;")
							li
								label
									input(type="checkbox" name='color' value="6")
									| Синий
									.circle-color(style="background:blue;")
							li
								label
									input(type="checkbox" name='color' value="7")
									| Фиолетовый
									.circle-color(style="background:violet;")
				.header-filter-checked 
					ul.header-filter-checked-list 
					button.header-filter-checked-reset(type="reset") Сбросить
			.header-filter-btns
				button.header-filter-reset(type="reset") 
					+icon('refresh')
					| Сбросить фильтр
				button.header-filter-submit(type="submit") 
					| ПОКАЗАТЬ 
					span.header-filter-submit-count 45
					span.header-filter-submit-end  КОЛЛЕКЦИЙ
	.mobile-menu
		.container 
			ul.mobile-menu-list
				li.mobile-menu-list-item
					.wrapper.mobile-menu-list-item-wrap
						button.mobile-menu-list-item__btn 
							+icon('filter')
							//- img(src="static/images/common/filter.svg", alt="icon")
							| ПОИСК ПО ПАРАМЕТРАМ
				li.mobile-menu-list-item
					+icon('catalog2')
					a.mobile-menu-list-item__link(href='#') Каталог
				li.mobile-menu-list-item
					+icon('catalog2')
					a.mobile-menu-list-item__link(href='#') Дилерский отдел
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') Заказ и доставка
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') Шоурум
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') Сотрудничество
					figure.header-top__icon.header-top__more
						+icon('expand_more')
					ul.header-drop-menu.mobile-menu-list-drop
						li
							a(href="#") Дилерам
						li
							a(href="#") Строительным организациям
						li
							a(href="#") Дизайнерам и архитекторам
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link.3d-visual(href='#') 3D-визуализация
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') О компании
				li.mobile-menu-list-item.mobile-menu-list-item__contacts
					a.mobile-menu-list-item__link(href='#') Контакты
					.wrapper.mobile-menu-list-item-wrap
						.header-content-block.header-content__address
							figure.header-content-block__icon
								+icon('map-marker')
							.header-content-block__text г. Москва, 1-й Щемиловский пер., 17/1 м. Новослободская 
									a.header-content-block__info(href='#') 
										| &nbsp;Как добраться?
						.header-content-block.header-content__phone
							figure.header-content-block__icon
								+icon('phone')
							.wrapper
								.header-content-block__text.header-content__phone_moscow
									span для Москвы и МО
									a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
								.header-content-block__text
									span для регионов РФ (бесплатно)
									a.header-content-block__info(href='tel:88007075037') 8 800 707-5037
						.header-content-block.header-content__worktime
							figure.header-content-block__icon
								+icon('clock')
							.wrapper
								.header-content-block__text
									span пн-пт
									span.header-content-block__info 9:00 — 20:00
								.header-content-block__text
									span сб-вс
									span.header-content-block__info 10:00 — 18:00
				li.mobile-menu-list-item.mobile-menu-list-item__social
					a.mobile-menu-list-item__social-link(href="#")
						+icon('fb')
					a.mobile-menu-list-item__social-link(href="#")
						+icon('insta')