header.header
	.container
		.header-wrap
			.header-top
				.header-top__left
					ul.header-top__left-menu
						li
							a(href='#') Шоурум
						li
							a(href='#') 3D-визуализация
						li
							a(href='#') Заказ и доставка
				.header-top__right
					ul.header-top__right-menu
						li
							a(href='#') Сотрудничество
							figure.header-top__icon.header-top__more
								+icon('expand_more')
							ul.header-drop-menu.header-top__right-drop-menu
								li
									a(href="#") Дилерам
								li
									a(href="#") Строительным организациям
								li
									a(href="#") Дизайнерам и архитекторам
						li
							a(href='#') Дилерский отдел
						li
							a(href='#') Контакты
			.header-main
				a(href="/").logo
					img(src='static/images/common/logo.svg' alt='logo')
				.header-content
					.header-content-block.header-content__address
						figure.header-content-block__icon
							+icon('map-marker')
						.header-content-block__text г. Москва, 1-й Щемиловский пер., 17/1 м. Новослободская 
								a.header-content-block__info(href='#') 
									| &nbsp;Как добраться?
					.header-content-block.header-content__phone
						figure.header-content-block__icon
							+icon('phone')
						.header-content-block__text
							span для Москвы и МО
							a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
						figure.header-content-block__icon.header-content__phone__more
							+icon('expand_more')
						ul.header-drop-menu.header-content__phone-drop-menu
							li
								.header-content__phone-drop-menu-inner
									span для Москвы и МО
									a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
								a.header-content-circle(href='tel:+74956498420')
									+icon('phone')
							li
								.header-content__phone-drop-menu
									span для регионов РФ 
									span (бесплатно)
									a.header-content-block__info(href='tel:88007075037') 8 800 707-5037
								a.header-content-circle(href='tel:88007075037')
									+icon('phone')
					.header-content-block.header-content__worktime
						figure.header-content-block__icon
							+icon('clock')
						.wrapper
							.header-content-block__text
								span пн-пт
								span.header-content-block__info 9:00 — 20:00
							.header-content-block__text
								span сб-вс
								span.header-content-block__info 10:00 — 18:00
					.header-content-circle.header-content__favourites
						+icon('favourites')
						.header-content-circle__badge 28
					.header-content-circle.header-content__cart
						+icon('shopping-cart')
						.header-content-circle__badge 4
				.header-burger
					.header-burger-line.header-burger-line__top
					.header-burger-line.header-burger-line__mid
					.header-burger-line.header-burger-line__bot
	.header-bot
		.container
			.header-bot-wrap
				.header-bot-inner.header-bot-inner__catalog
					a(href="/").header-bot-logo
						+icon('logo')
					a.header-bot-catalog__link(href="#") Каталог
					ul.header-bot-list
						li.header-bot-list__item
							a(href="#") A
						li.header-bot-list__item
							a(href="#") B
							ul.header-drop-menu.header-bot-list-drop-menu
								li
									ul
										li
											a(href="#") бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
								li
									ul
										li
											a(href="#") бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
										li
											a(href="#") ещё один бренд на букву B
						li.header-bot-list__item
							a(href="#") C
						li.header-bot-list__item
							a(href="#") D
						li.header-bot-list__item
							a(href="#") E
						li.header-bot-list__item
							a(href="#") F
						li.header-bot-list__item
							a(href="#") G
						li.header-bot-list__item
							a(href="#") H
						li.header-bot-list__item
							a(href="#") I
						li.header-bot-list__item
							a(href="#") J
						li.header-bot-list__item
							a(href="#") K
						li.header-bot-list__item
							a(href="#") L
						li.header-bot-list__item.letter_m
							a(href="#") M
						li.header-bot-list__item.letter_n
							a(href="#") N
						li.header-bot-list__item.letter_o
							a(href="#") O
						li.header-bot-list__item.letter_p
							a(href="#") P
						li.header-bot-list__item.letter_q
							a(href="#") Q
							ul.header-drop-menu.header-bot-list-drop-menu
								li
									ul
										li
											a(href="#") бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
										li
											a(href="#") ещё один бренд на букву Q
						li.header-bot-list__item.letter_r
							a(href="#") R
						li.header-bot-list__item.letter_s
							a(href="#") S
						li.header-bot-list__item.letter_t
							a(href="#") T
						li.header-bot-list__item.letter_u
							a(href="#") U
						li.header-bot-list__item.letter_v
							a(href="#") V
						li.header-bot-list__item.letter_w
							a(href="#") W
						li.header-bot-list__item.letter_x
							a(href="#") X
						li.header-bot-list__item.letter_z
							a(href="#") Z
						li.header-bot-list__item.letter_u-z
							a(href="#") U-Z
						li.header-bot-list__item.letter_n-z
							a(href="#") N-Z
						li.header-bot-list__item.zero-nine
							a(href="#") 0-9
						li.header-bot-list__item
							a(href="#") А-Я
				.header-bot-inner.header-bot-inner__search
					.header-bot-filter
						figure.header-bot-filter__icon
							+icon('filter')
						.header-bot-filter__text Поиск по параметрам
					form.header-bot-search
						input#search-input.header-bot-search__input(type="text" placeholder="Поиск" autocomplete="off")
						.header-bot-search__nav
							input(type="reset" value="").header-bot-search__clear
							input(type="submit" value="").header-bot-search__icon
						.bx_searche
					a(href="tel:+74956468620").header-bot-phone 
						figure.header-bot-phone__icon
							+icon('phone-o')
						span +7 495 646-86-20
					.header-bot-mobile-item.header-bot-mobile-item-search
						+icon('search')
						.header-bot-mobile-item-desc Поиск
					.header-bot-mobile-item
						+icon('map-marker')
						.header-bot-mobile-item-desc Адрес шоурума
					.header-bot-mobile-item
						+icon('phone')
						.header-bot-mobile-item-desc Звоните нам					
					.header-bot-mobile-item.header-bot-mobile-item__favourites
						.header-bot-mobile-item__badge 28
						+icon('favourites')
						.header-bot-mobile-item-desc Избранные коллекции
					.header-bot-mobile-item.header-bot-mobile-item__cart
						.header-bot-mobile-item__badge 4
						+icon('shopping-cart')
						.header-bot-mobile-item-desc Ваш заказ
					.header-bot-mobile-search-close Отмена
	form.header-filter 
		.container 
			.header-filter-head
				.header-filter-head__title Поиск по параметрам
				.header-filter-head__close
					+icon('search-clear')
			.header-filter-top
				.header-filter-top-left
					label(for="novelty") 
						input(type="checkbox" id='novelty')
						| Новинка
					label(for="bestseller") 
						input(type="checkbox" id='bestseller')
						| Хит продаж
					label(for="sale") 
						input(type="checkbox" id='sale')
						| Распродажа
				.header-filter-top-right
					label(for="in-stock") 
						input(type="checkbox" id='in-stock')
						| В наличии
					label(for="on-the-way") 
						input(type="checkbox" id='on-the-way')
						| В пути на склад
					label(for="under-the-order") 
						input(type="checkbox" id='under-the-order')
						| Под заказ
			.header-filter-main
				ul.header-filter-list
					li.header-filter-list-item Тип материала
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Страна производителя
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						ul.header-drop-menu.header-filter-list-drop-menu
							li
								label
									input(type="checkbox")
									| Россия
							li
								label
									input(type="checkbox")
									| Китай
							li
								label
									input(type="checkbox")
									| Израиль
							li
								label
									input(type="checkbox")
									| Сингапур
							li
								label
									input(type="checkbox")
									| Кения
							li
								label
									input(type="checkbox")
									| Алжир
							li
								label
									input(type="checkbox")
									| Венесуэлла
							li
								label
									input(type="checkbox")
									| Таджикистан
							li
								label
									input(type="checkbox")
									| Узбекистан
							li
								label
									input(type="checkbox")
									| Киргизия
							li
								label
									input(type="checkbox")
									| Мордор
					li.header-filter-list-item Фабрика/ бренд
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Ценовой диапазон
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Место применения
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Настенная/ напольная
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Формат
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Размер
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Стиль
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Фактура
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Текстура
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
					li.header-filter-list-item Цвет
						.filter-list-count
						figure.header-filter-list-item__icon.header-top__more
							+icon('expand_more_brs')
						ul.header-drop-menu.header-filter-list-drop-menu
							li
								label
									input(type="checkbox")
									| Красный
									.header-filter-list-drop-menu__color(style="background:red;")
							li
								label
									input(type="checkbox")
									| Оранжевый
									.header-filter-list-drop-menu__color(style="background:orange;")
							li
								label
									input(type="checkbox")
									| Жёлтый
									.header-filter-list-drop-menu__color(style="background:yellow;")
							li
								label
									input(type="checkbox")
									| Зелёный
									.header-filter-list-drop-menu__color(style="background:green;")
							li
								label
									input(type="checkbox")
									| Голубой
									.header-filter-list-drop-menu__color(style="background:skyblue;")
							li
								label
									input(type="checkbox")
									| Синий
									.header-filter-list-drop-menu__color(style="background:blue;")
							li
								label
									input(type="checkbox")
									| Фиолетовый
									.header-filter-list-drop-menu__color(style="background:violet;")
				ul.header-filter-checked тут появляются выбранные варианты
			.header-filter-btns
				button.header-filter-reset(type="reset") 
					+icon('refresh')
					| Сбросить фильтр
				button.header-filter-submit(type="submit") 
					| ПОКАЗАТЬ 
					span.header-filter-submit-count 45
					span.header-filter-submit-end  КОЛЛЕКЦИЙ
	.mobile-menu
		.container 
			ul.mobile-menu-list
				li.mobile-menu-list-item
					.wrapper.mobile-menu-list-item-wrap
						button.mobile-menu-list-item__btn 
							+icon('filter')
							//- img(src="static/images/common/filter.svg", alt="icon")
							| ПОИСК ПО ПАРАМЕТРАМ
				li.mobile-menu-list-item
					+icon('catalog2')
					a.mobile-menu-list-item__link(href='#') Каталог
				li.mobile-menu-list-item
					+icon('catalog2')
					a.mobile-menu-list-item__link(href='#') Дилерский отдел
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') Заказ и доставка
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') Шоурум
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') Сотрудничество
					figure.header-top__icon.header-top__more
						+icon('expand_more')
					ul.header-drop-menu.mobile-menu-list-drop
						li
							a(href="#") Дилерам
						li
							a(href="#") Строительным организациям
						li
							a(href="#") Дизайнерам и архитекторам
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') 3D-визуализация
				li.mobile-menu-list-item
					a.mobile-menu-list-item__link(href='#') О компании
				li.mobile-menu-list-item.mobile-menu-list-item__contacts
					a.mobile-menu-list-item__link(href='#') Контакты
					.wrapper.mobile-menu-list-item-wrap
						.header-content-block.header-content__address
							figure.header-content-block__icon
								+icon('map-marker')
							.header-content-block__text г. Москва, 1-й Щемиловский пер., 17/1 м. Новослободская 
									a.header-content-block__info(href='#') 
										| &nbsp;Как добраться?
						.header-content-block.header-content__phone
							figure.header-content-block__icon
								+icon('phone')
							.wrapper
								.header-content-block__text.header-content__phone_moscow
									span для Москвы и МО
									a.header-content-block__info(href='tel:+74956498420') +7 495 649-84-20
								.header-content-block__text
									span для регионов РФ (бесплатно)
									a.header-content-block__info(href='tel:88007075037') 8 800 707-5037
						.header-content-block.header-content__worktime
							figure.header-content-block__icon
								+icon('clock')
							.wrapper
								.header-content-block__text
									span пн-пт
									span.header-content-block__info 9:00 — 20:00
								.header-content-block__text
									span сб-вс
									span.header-content-block__info 10:00 — 18:00
				li.mobile-menu-list-item.mobile-menu-list-item__social
					a.mobile-menu-list-item__social-link(href="#")
						+icon('fb')
					a.mobile-menu-list-item__social-link(href="#")
						+icon('insta')