.breadcrumbs {
    &-list {
        display: flex;
        padding: 16px 0 24px 0;
        flex-wrap: wrap;
        &__item {
            &-link {
                color: #828282;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.02em;
                display: block;
                text-transform: uppercase;
                &:after {
                    content: '/';
                    margin: 0 10px;
                }
            }
            &:last-child {
                .breadcrumbs-list__item-link {
                    &:after {
                        content: '';
                    }
                }
            }
            &_back {
                padding-right: 15px;
                display: flex;
                align-items: center;
                .svg-sprite-icon {
                    height: 8px;
                    width: 12px;
                    fill: #999999;
                    transform: rotate(90deg);
                }
            }
        }
    }
}