.catalog-content__top-reset {
    border: none;
    background: transparent;
    color: #333333;
    white-space: nowrap;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    @media (max-width: 1024px) {
        font-size: 0;
        display: flex;
        align-items: center;
    }
    @media (max-width: 760px) {
        display: none;
    }
    .svg-sprite-icon {
        height: 20px;
        width: 20px;
        fill: #333333;
        display: none;
        @media (max-width: 1024px) {
            display: block;
        }
    }
}