footer { flex: 0 0 auto; }

.footer {
    padding-top: 63px;
    border-top: 1px solid #D9D9D9;
    @media ( max-width: 520px ) {
        padding-top: 0;
    }
    .logo {
        img {
            @media ( max-width: 1440px ) {
                height: 18px;
            }
        }
        @media ( max-width: 520px ) {
            display: none;
        }
    }
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 73px;
        position: relative;
        @media ( max-width: 1050px ) {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
        @media ( max-width: 520px ) {
            padding-bottom: 23px;
        }
        &-info {
            max-width: 425px;
            @media ( max-width: 1440px ) {
                max-width: 367px;
            }
            @media ( max-width: 1050px ) {
                padding-top: 30px;
            }
            &__copy {
                margin-bottom: 20px;
                margin-top: 37px;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                @media ( max-width: 1440px ) {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.01em;
                }
                @media ( max-width: 520px ) {
                    margin-top: 0;
                }
            }
            &__requisites {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 19px;
                letter-spacing: 0.005em;
                &-agreement {
                    display: block;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.005em;
                    color: #828282;
                }
            }
        }
        &-list {
            padding-right: 80px;
            display: flex;
            flex-direction: column;
            @media ( max-width: 1200px ) {
                padding-right: 50px;
            }
            @media ( max-width: 1100px ) {
                padding-right: 30px;
            }
            @media ( max-width: 520px ) {
                padding-top: 40px;
            }
            &s {
                display: flex;
                @media ( max-width: 520px ) {
                    flex-direction: column;
                    width: 100%;    
                }
            }
            &__title {
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.005em;
                margin-top: 17px;
                margin-bottom: 20px;
                @media ( max-width: 520px ) {
                    margin-bottom: 8px;
                    margin-top: 0;
                }
            }
            &__item {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.005em;
                margin-top: 8px;
                @media ( max-width: 520px ) {
                    margin-bottom: 2px;
                }
                &-cta {
                    margin-top: auto;
                    @media ( max-width: 520px ) {
                        display: none;
                    }
                }
                &-job {
                    @media ( max-width: 520px ) {
                        display: none;
                    }
                }
                &-control {
                    margin-top: auto;
                    a {
                        display: block;
                        color: $colorGray;
                    }
                    @media ( max-width: 520px ) {
                        display: none;
                    }
                    &-mobile {
                        display: none;
                        @media ( max-width: 520px ) {
                            display: block;
                            padding: 24px 0;
                            border-top: 1px solid rgba(#999999, .5);
                            border-bottom: 1px solid rgba(#999999, .5);
                        }
                    }
                }
            }
        }
        &-social {
            padding-top: 17px;
            @media ( max-width: 520px ) {
                padding-bottom: 45px;
            }
            &__link {
                height: 40px;
                width: 40px;
                display: inline-block;
                border-radius: 50%;
                transition: .3s;
                &:hover {
                    background: $colorAccent;
                }
                .svg-sprite-icon {
                    max-height: 100%;
                    max-width: 100%;
                    fill: #333333;
                }
                &-fb {
                    margin-right: 16px;
                    @media ( max-width: 1440px ) {
                        margin-right: 0;
                        margin-bottom: 16px;
                    }
                    @media ( max-width: 1050px ) {
                        margin-right: 16px;
                        margin-bottom: 0; 
                    }
                }
                @media ( max-width: 1440px ) {
                    display: block;
                }
                @media ( max-width: 1050px ) {
                    display: inline-block;
                }
            }
        }
    }
    &-bot {
        border-top: 1px solid #D9D9D9;
        padding: 30px 0;
        &-content {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 19px;
            letter-spacing: 0.005em;
            color: $colorGray;
        }
    }
}

#up {
    position: absolute;
    right: 0;
    bottom: 73px;
    height: 26px;
    width: 26px;
    cursor: pointer;
    @media ( max-width: 520px ) {
        top: 40px;
    }
    .svg-sprite-icon {
        height: 26px;
        width: 25px;
        transition: .3s;
    }
    &:hover {
        .svg-sprite-icon {
            transform: translateY(-5px);
        }
    }
}