//- extends layout/main
//- block variables
//-     -var title = 'попап'
include helpers/mixins
.calculation-popup-wrap
    .calculation-popup-overlay
        .calculation-popup
            .calculation-popup__close
                .calculation-popup__close-line.calculation-popup__close-line_top
                .calculation-popup__close-line.calculation-popup__close-line_bot
            .calculation-popup__title Отправить спецификацию на просчет
            .calculation-popup__desc Есть спецификация или файл проекта? Можете отправить нам заказ через данную форму, не добавляя товары в корзину. Мы обработаем вашу заявку и ответим в кратчайшие сроки.
            form.calculation-popup__form.ajax-form
                .calculation-popup__head
                    .calculation-popup__check
                        label.calculation-popup__check-private.calculation-popup__check-item
                            input(type="radio" name="type") 
                            | Частное лицо
                        label.calculation-popup__check-entity.calculation-popup__check-item 
                            input(type="radio" name="type")
                            | Юридическое лицо  
                    label.calculation-popup__name 
                        span.calculation-popup__info-title ВАШЕ ИМЯ
                        input(type="text" placeholder="Например Иван Иванов")
                .calculation-popup__info
                    label.calculation-popup__info-mail.calculation-popup__info-item 
                        span.calculation-popup__info-title E-MAIL
                        input(type="email" placeholder="yourmail@mail.com")
                    label.calculation-popup__info-tel.calculation-popup__info-item 
                        span.calculation-popup__info-title ТЕЛЕФОН
                        input(type="tel" placeholder="+7 (___) ___-__-__")
                .calculation-popup__delivery
                    .calculation-popup__check-delivery
                        label.calculation-popup__check-need.calculation-popup__check-item 
                            input(type="radio" name="delivery") 
                            | Нужна доставка
                        label.calculation-popup__check-pickup.calculation-popup__check-item
                            input(type="radio" name="delivery") 
                            | Самовывоз со  
                            b  склада
                    label.calculation-popup__info-address 
                        span.calculation-popup__info-title ВАШ АДРЕС
                        input(type="text")
                label.calculation-popup__info-message 
                    span.calculation-popup__info-title ВАШ ЗАКАЗ
                    textarea
                .calculation-popup__footer
                    .calculation-popup__footer-file
                        label.calculation-popup__footer-btn.calculation-popup__footer-download ПРИКРЕПИТЬ ФАЙЛ (<4 МБ)
                            input(type="file")
                        .calculation-popup__footer-loaded
                            +icon('close_brs')
                            span.file-name
                    .calculation-popup__footer-end
                        button(type="submit").calculation-popup__footer-btn.calculation-popup__footer-submit ОТПРАВИТЬ ЗАЯВКУ
                        label.calculation-popup__footer-policy
                            input(type="checkbox")
                            span Я принимаю 
                                a(href="/agreement.html") Пользовательское соглашение 
                                | и даю свое согласие на обработку моих персональных данных 