extends layout/main

block variables
    -var title = 'Корзина'

block content
    .page-top.cart-wrap
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item 
                        a.breadcrumbs-list__item-link(href="#") ГЛАВНАЯ
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") КОРЗИНА
            .information-main.information-main__head.cart-main
                .information-main__title.cart-main__title Ваш заказ принят в обработку
            .cart.cart-ok.information
                .information-main.information-main__aside.cart-main
                    .information-main__title.cart-main__title Ваш заказ принят в обработку
                    .information-main__desc.cart-main__desc Благодарим за заказ. Мы ответим вам в кратчайшие сроки и сообщим стоимость заказа, размер скидки и ситуацию по наличию.
                .information-content.cart-content
                    .information-content__block.cart-content__block
                        .information-content__block-title.cart-content__block-title Товаров в корзине: 4
                        ol.cart-ok-list.cart-ok-list__product
                            li.cart-ok-list__item.cart-ok-list__product-item Керамогранит EQUIPE ARTISAN Alabaster / 30 м²
                            li.cart-ok-list__item.cart-ok-list__product-item Керамогранит EQUIPE ARTISAN Alabaster / 5 м²
                            li.cart-ok-list__item.cart-ok-list__product-item Керамогранит EQUIPE ARTISAN Alabaster / 7 м²
                            li.cart-ok-list__item.cart-ok-list__product-item Керамогранит EQUIPE ARTISAN Alabaster / 290 м²
                        .information-content__block-title.cart-content__block-title Ваши данные
                        ul.cart-ok-list.cart-ok-list__data
                            li.cart-ok-list__item.cart-ok-list__data-item Юридическое лицо
                            li.cart-ok-list__item.cart-ok-list__data-item ООО “Плитка нарасхват”
                            li.cart-ok-list__item.cart-ok-list__data-item Ангелина Петровна
                            li.cart-ok-list__item.cart-ok-list__data-item +7 (499) 756-34-34 
                            li.cart-ok-list__item.cart-ok-list__data-item angelina@narashvat.ru
                            li.cart-ok-list__item.cart-ok-list__data-item Нужна доставка по адресу: г. Москва, ул. Мясницкая, 1-1
    .page-content.favorites-content
        .container
            .recently-viewed__title Вы недавно смотрели
            .recently-viewed__wrap
                .recently-viewed-btn.recently-viewed-next.swiper-button-next
                    +icon('expand_more_brs')
                .recently-viewed-btn.recently-viewed-prev.swiper-button-prev 
                    +icon('expand_more_brs')
                .swiper-container.recently-viewed
                    .swiper-wrapper
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img.swiper-container
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-1.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/e43/315_315_2/41zero42-spectre-04.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/a5f/315_315_2/wow-stripes-6.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ARCANA
                                    .card-collection__name
                                        span RIBE / ELBURG
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-2.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/028/315_315_2/equipe-artisan-4.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/08d/315_315_2/AtlasConcorde-Boost-03.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand REX CERAMICHE
                                    .card-collection__name
                                        span LES BIJOUX DE REX
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-3.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/045/315_315_2/dna-amb-13-enamel-white-square-rounded-edge.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/35d/315_315_2/AtlasConcorde_Prism_M01_19.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand WOW
                                    .card-collection__name
                                        span FLOW
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-4.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/98a/315_315_2/41zero42-biscuit-amb-14.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/d9c/315_315_2/arcana-stracciatella-08.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ATLAS CONCORDE
                                    .card-collection__name
                                        span BOOST
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-5.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/4c8/315_315_2/STROMBOLI%209,2x36,8_Rose%20Breeze_Habitat%20White_bath.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/48c/315_315_2/atlas-concorde-blaze-001-03-iron.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand 41zero42
                                    .card-collection__name
                                        span SPECTRE
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img.swiper-container
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-1.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/e43/315_315_2/41zero42-spectre-04.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/a5f/315_315_2/wow-stripes-6.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ARCANA
                                    .card-collection__name
                                        span RIBE / ELBURG
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-2.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/028/315_315_2/equipe-artisan-4.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/08d/315_315_2/AtlasConcorde-Boost-03.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand REX CERAMICHE
                                    .card-collection__name
                                        span LES BIJOUX DE REX
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-3.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/045/315_315_2/dna-amb-13-enamel-white-square-rounded-edge.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/35d/315_315_2/AtlasConcorde_Prism_M01_19.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand WOW
                                    .card-collection__name
                                        span FLOW
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-4.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/98a/315_315_2/41zero42-biscuit-amb-14.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/d9c/315_315_2/arcana-stracciatella-08.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ATLAS CONCORDE
                                    .card-collection__name
                                        span BOOST
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-5.png", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/4c8/315_315_2/STROMBOLI%209,2x36,8_Rose%20Breeze_Habitat%20White_bath.jpg", alt="img")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/48c/315_315_2/atlas-concorde-blaze-001-03-iron.jpg", alt="img")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand 41zero42
                                    .card-collection__name
                                        span SPECTRE