extends layout/main

block variables
    -var title = 'КАТАЛОГ'

block content
    .page-top.catalog-wrap
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item 
                        a.breadcrumbs-list__item-link(href="#") ГЛАВНАЯ
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") КАТАЛОГ
            .catalog-head
                .catalog-head__title Каталог
                .catalog-head__desc Компания КЕРАМОТЕКА предлагает вашему вниманию керамическую плитку и керамогранит, мозаику ведущих фабрик Италии, Испании, Португалии, Германии и России. В магазине представлен широкий выбор керамической плитки для ванной комнаты, напольной плитки, керамогранита, керамического паркета самых разных ценовых категорий, но неизменно высокого качества.
    .page-content.catalog-content
        .container
            .catalog-content__top
                .catalog-content__top-list.header-filter-list-item
                    .header-filter-list-item__title Страна
                        figure.header-filter-list-item__icon.header-top__more
                            +icon('expand_more_brs')
                    .filter-list-count
                    ul.header-drop-menu.header-filter-list-drop-menu
                        li
                            label 
                                input(type="checkbox")
                                | Россия
                        li
                            label
                                input(type="checkbox")
                                | Китай
                        li
                            label 
                                input(type="checkbox")
                                | Израиль
                        li
                            label 
                                input(type="checkbox")
                                | Сингапур
                        li
                            label
                                input(type="checkbox")
                                | Кения
                        li
                            label
                                input(type="checkbox")
                                | Алжир
                        li
                            label 
                                input(type="checkbox")
                                | Венесуэлла
                        li
                            label
                                input(type="checkbox")
                                | Таджикистан
                        li
                            label
                                input(type="checkbox")
                                | Узбекистан
                        li
                            label
                                input(type="checkbox")
                                | Киргизия
                        li
                            label 
                                input(type="checkbox")
                                | Мордор
                .catalog-content__top-view
                    .view-link.view-link-current.view-grid
                        +icon('grid')
                    .view-link.view-list
                        +icon('list')
            .page-content-grid
                .page-content-grid-sizer(style="display:none;")
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                .page-content-grid-item.page-card
                    .page-card-brand.card-brand
                        .card-brand__min
                            .card-brand__min-title ATLAS CONCORDE RUSSIA
                            .card-brand__min-count 3
                                +icon('expand_more')
                        .card-brand__max
                            figure.page-card-img
                                .swiper-wrapper
                                    img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-brand-1.png", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/2ac/315_315_2/dna-amb-5-terrazzo-teal.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/360/315_315_2/41zero41-futura-03.jpg", alt="img")
                                    img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/763/315_315_2/atlas-concorde-marvel-floor-design-17.jpg", alt="img")
                                ul.page-card-img-hover
                                    li
                                    li
                                    li
                                    li
                                .page-card-img-pagination.swiper-pagination
                            .page-card-content.card-brand-content
                                .card-brand__name 
                                    span.card-brand__name-title ATLAS CONCORDE RUSSIA
                                    img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
                                .card-brand__count 
                                    .card-brand__count-title
                                        | 3 КОЛЛЕКЦИИ
                                        +icon('expand_more')
                                ul.card-brand__list 
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
                                    li.card-brand__list-item
                                        a(href="#") Название коллекции
        .page-content-after
            .container
                .pager
                    .pager-content
                        a(href="#" class="current-page") 1
                        a(href="#") 2
                        a(href="#") 3
                        a(href="#") ...
                        a(href="#") 8
                    a.pager-more(href="#" data-page-next='2') 
                        +icon('renew')
                        span ЗАГРУЗИТЬ ЕЩЕ