extends layout/main

block variables
    -var title = 'КОЛЛЕКЦИЯ'

block content
    .product-wrap
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item 
                        a.breadcrumbs-list__item-link(href="#") ГЛАВНАЯ
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") КАТАЛОГ
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") ATLAS CONCORDE
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") BLAZE BLADE RUNNER
                .product-text__name-mobile
                    h2.product-text__name-collection ATLAS CONCORDE
                    h2.product-text__name-prod ANTIGUA
                    .product-text__badges
                        .product-text__badge.product-text__badge-info НОВИНКА
                        .product-text__badge.product-text__badge-have В ПУТИ НА СКЛАД
        .product(data-product-id="666")
            .container
                .product-text
                    .product-text__name
                        h2.product-text__name-collection ATLAS CONCORDE
                        h2.product-text__name-prod ANTIGUA
                        .product-text__badges
                            .product-text__badge.product-text__badge-info НОВИНКА
                            .product-text__badge.product-text__badge-have В ПУТИ НА СКЛАД
                    .product-text__content
                        .product-text__content-excerpt Коллекция Equipe Urban / Экипе Урбан  — новая серия керамогранита, эффектно имитирующая колорированный бетон, в актуальных бежево-серых оттенках. Производится в двух форматах — модном шестиугольном 25,4х29,2 см, а также в квадратном 20х20 см. Поверхность материала — матовая.
                            br
                            | Керамогранит EQUIPE Ceramicas Urban выпускается в пяти современных оттенках — Light, Natural, Nut, Silver, Dark. Помимо базовой фоновой плитки, серия предлагает широкий спектр абстрактных паттернов, от почти незаметных (на базе основных оттенков) до контрастных акцентных.
                            .product-text__content-read-more ЧИТАТЬ ПОЛНОСТЬЮ
                                +icon('expand_more_brs')
                        .product-text__content-btns
                            button.product-text__content-cta.cta РАССЧИТАТЬ СТОИМОСТЬ
                            button.product-text__content-favorite
                                +icon('favourites-f')
                    ul.product-text__info
                        li.product-text__info-item.product-text__info-item__country 
                            +icon('earth')
                            div Испания
                        li.product-text__info-item.product-text__info-item__price 
                            +icon('rub')
                            div ₽₽₽
                            .wrap
                                +icon('quest')
                                ul.header-drop-menu.hint-price__list
                                    li Цена базовых форматов: 2500-5000 руб. за кв.м
                        li.product-text__info-item.product-text__info-item__download 
                            +icon('pdf')
                            a(href="static/pdf/Rejting-gorodov-2019.pdf" target="_blank") 
                                span Скачать
                                    br
                                    | PDF-каталог
            .product-slider.container
                .product-slider-main.swiper-container
                    .product-slider-main-arrow.product-slider-main-next.swiper-button-next
                        +icon('expand_more_brs')
                    .product-slider-main-arrow.product-slider-main-prev.swiper-button-prev
                        +icon('expand_more_brs')
                    .swiper-wrapper
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="static/images/content/prod-1.png")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .anchor-label(style="top:20%;left:35%")
                                +icon('close_brs')
                                .anchor-label__block
                                    .anchor-label__block-top
                                        a(href="#prodid").anchor-label__block-arr_two.anchor-label__block-arr
                                            +icon('expand_more_brs')
                                            +icon('expand_more_brs')
                                        .anchor-label__block-info
                                            .anchor-label__block-line
                                                .anchor-label__block-brand Бренд / 
                                                .anchor-label__block-collection Коллекция
                                            .anchor-label__block-name Название
                            .anchor-label(style="top:80%;left:55%")
                                +icon('close_brs')
                                .anchor-label__block
                                    .anchor-label__block-top
                                        .anchor-label__block-arr_one.anchor-label__block-arr
                                            +icon('expand_more_brs')
                                        .anchor-label__block-info
                                            .anchor-label__block-line
                                                .anchor-label__block-brand Бренд / 
                                                .anchor-label__block-collection Коллекция
                                            .anchor-label__block-name Название
                                    .anchor-label__block-bot
                                        a(href="#").anchor-label__block-more Перейти на страницу коллекции 
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/091/1334_896_2/41zero42-spectre-amb-07.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/17c/1334_896_2/41zero42-spectre-amb-09.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/b9b/1334_896_2/41zero42-spectre-amb-08.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/8f2/1334_896_2/equipe-artisan-1.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/459/1334_896_2/equipe-artisan-6.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/b4a/1334_896_2/equipe-artisan-2.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/185/1334_896_2/equipe-artisan-17.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/0d6/1334_896_2/equipe-artisan-4.jpg")
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                        .product-slider-main-item.swiper-slide
                            img(class="swiper-lazy" data-src="https://www.keramoteka.ru/upload/resize_cache/iblock/46d/1334_896_2/equipe-artisan-14.jpg")
                        .product-slider-main-item.swiper-slide
                            iframe(src='https://www.youtube.com/embed/14E9byLK__Y' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                        .product-slider-main-item.swiper-slide
                            iframe(src='https://www.youtube.com/embed/14E9byLK__Y' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                            .swiper-lazy-preloader.swiper-lazy-preloader-white
                .product-slider-thumbs-wrap
                    .product-slider-thumbs.swiper-container
                        .swiper-wrapper
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_2.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_2.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_3.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_4.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_5.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_6.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_1.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_2.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_3.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_4.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_5.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                            .product-slider-thumbs-item.swiper-slide
                                img(class="swiper-lazy" data-src="static/images/content/small_6.png")
                                .swiper-lazy-preloader.swiper-lazy-preloader-white
                    .product-slider-thumbs-pagination.swiper-pagination
    .product-list-wrap
        .container.container-card
            .product-list-title Керамогранит
            .product-list
                .page-content-grid
                    .page-content-grid-sizer(style="display:none;")
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="static/images/content/product-1.png")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="https://www.keramoteka.ru/upload/resize_cache/iblock/fb3/560_560_1/impronta-empreinte-ep00b3.jpg")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="https://www.keramoteka.ru/upload/resize_cache/iblock/600/560_560_1/impronta-empreinte-ep1327d.jpg")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666" id="prodid")
                        .product-card-content
                            figure.product-card-img
                                img(src="static/images/content/product-1.png")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="https://www.keramoteka.ru/upload/resize_cache/iblock/fb3/560_560_1/impronta-empreinte-ep00b3.jpg")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="https://www.keramoteka.ru/upload/resize_cache/iblock/600/560_560_1/impronta-empreinte-ep1327d.jpg")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="static/images/content/product-1.png")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="https://www.keramoteka.ru/upload/resize_cache/iblock/fb3/560_560_1/impronta-empreinte-ep00b3.jpg")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
            .product-list-title Декоративные элементы
            .product-list 
                .page-content-grid
                    .page-content-grid-sizer(style="display:none;")
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="static/images/content/product-1.png")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="https://www.keramoteka.ru/upload/resize_cache/iblock/fb3/560_560_1/impronta-empreinte-ep00b3.jpg")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                .product-card-content__info-have В НАЛИЧИИ  
                                    span.product-card-content__info-have-count 46 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-have__reserve ИЗ НИХ В РЕЗЕРВЕ   
                                    span.product-card-content__info-have__reserve-count 40 
                                        span.unit м
                                            sup 2
                                .product-card-content__info-way В ПУТИ
                                    span.product-card-content__info-way-count —
                                .product-card-content__info-way__reserve ИЗ НИХ В РЕЗЕРВЕ 
                                    span.product-card-content__info-way__reserve-count —
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
                    .product-card.page-content-grid-item(data-product-id="666")
                        .product-card-content
                            figure.product-card-img
                                img(src="static/images/content/product-1.png")
                            .wrap
                                .product-card-content__brand DUAL GRES
                                .product-card-content__collection  ANTIGUA
                            .product-card-content__name 
                                span Cement Decor
                            .product-card-content__price 2283
                                span.currency  ₽
                                span.unit м
                                    sup 2
                            .product-card-content__info 
                                .product-card-content__info-size 45x45 см
                                .product-card-content__info-article DG_ANT_MSD
                                table
                                    thead
                                        tr 
                                            th СКЛАД
                                            th МСК
                                            th СПБ
                                    tbody 
                                        tr 
                                            td в наличии 
                                                span.unit м
                                                    sup 2
                                            td 1746
                                            td 4768
                                        tr 
                                            td из них в резерве
                                            td 1000
                                            td 3214
                                        tr 
                                            td в пути 
                                                span.unit м
                                                    sup 2
                                            td 1234
                                            td 1234
                                        tr 
                                            td из них в резерве
                                            td 1234
                                            td 1234
                            button.btn-to-cart В корзину
                        .product-card-content__to-cart
                            form.product-card-content__to-cart-form
                                .quantity-block
                                    .quantity-arrow.quantity-arrow-minus  
                                    .quantity-num-wrap
                                        input.quantity-num(type="number" value="0")
                                        .quantity-num-unit.unit м
                                            sup 2
                                    .quantity-arrow.quantity-arrow-plus 
                                button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                                    +icon('shopping-cart')
                                    span ДОБАВИТЬ В КОРЗИНУ
    .calculate-section
        .container
            .calculate
                .calculate-title Рассчитаем стоимость заказа по вашей спецификации
                .calculate-desc У вас уже есть готовая спецификация или файл проекта? Отправьте ее нам и мы рассчитаем точную стоимость заказа в кратчайшие сроки. (В этом случае можно не отправлять заказ через корзину)
                button.calculate-btn.cta ЗАКАЗАТЬ РАСЧЕТ
    .advantages-section
        .container
            .advantages
                a(href="#").advantages-block
                    figure.advantages-block-img
                        +icon('adv-1')
                    .advantages-block-text
                        span 762 коллекции керамогранита и плитки от лучших фабрик в Европе и России
                .advantages-block.3d-visual
                    figure.advantages-block-img
                        +icon('adv-2')
                    .advantages-block-text
                        span 3D-визуализация вашего будущего интерьера
                a(href="#").advantages-block
                    figure.advantages-block-img
                        +icon('adv-3')
                    .advantages-block-text
                        span Шоурум в 5 минутах ходьбы от метро Новослободская
                a(href="#").advantages-block
                    figure.advantages-block-img
                        +icon('adv-4')
                    .advantages-block-text
                        span Надежная доставка по России и самовывоз
                a(href="#").advantages-block
                    figure.advantages-block-img
                        +icon('adv-5')
                    .advantages-block-text
                        span Большой складской запас оптовых коллекций
    .page-content.favorites-content
        .container
            .recently-viewed__title Вы недавно смотрели
            .recently-viewed__wrap
                .recently-viewed-btn.recently-viewed-next.swiper-button-next
                    +icon('expand_more_brs')
                .recently-viewed-btn.recently-viewed-prev.swiper-button-prev 
                    +icon('expand_more_brs')
                .swiper-container.recently-viewed
                    .swiper-wrapper
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img.swiper-container
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-1.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/e43/315_315_2/41zero42-spectre-04.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/a5f/315_315_2/wow-stripes-6.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ARCANA
                                    .card-collection__name
                                        span RIBE / ELBURG
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-2.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/028/315_315_2/equipe-artisan-4.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/08d/315_315_2/AtlasConcorde-Boost-03.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand REX CERAMICHE
                                    .card-collection__name
                                        span LES BIJOUX DE REX
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-3.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/045/315_315_2/dna-amb-13-enamel-white-square-rounded-edge.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/35d/315_315_2/AtlasConcorde_Prism_M01_19.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand WOW
                                    .card-collection__name
                                        span FLOW
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-4.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/98a/315_315_2/41zero42-biscuit-amb-14.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/d9c/315_315_2/arcana-stracciatella-08.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ATLAS CONCORDE
                                    .card-collection__name
                                        span BOOST
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-5.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/4c8/315_315_2/STROMBOLI%209,2x36,8_Rose%20Breeze_Habitat%20White_bath.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/48c/315_315_2/atlas-concorde-blaze-001-03-iron.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand 41zero42
                                    .card-collection__name
                                        span SPECTRE
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img.swiper-container
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-1.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/e43/315_315_2/41zero42-spectre-04.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/a5f/315_315_2/wow-stripes-6.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ARCANA
                                    .card-collection__name
                                        span RIBE / ELBURG
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-2.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/028/315_315_2/equipe-artisan-4.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/08d/315_315_2/AtlasConcorde-Boost-03.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand REX CERAMICHE
                                    .card-collection__name
                                        span LES BIJOUX DE REX
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-3.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/045/315_315_2/dna-amb-13-enamel-white-square-rounded-edge.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/35d/315_315_2/AtlasConcorde_Prism_M01_19.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand WOW
                                    .card-collection__name
                                        span FLOW
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-4.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/98a/315_315_2/41zero42-biscuit-amb-14.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/d9c/315_315_2/arcana-stracciatella-08.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand ATLAS CONCORDE
                                    .card-collection__name
                                        span BOOST
                        .page-content-grid-item.page-cards.swiper-slide
                            a(href="#").page-card-collection.card-collection
                                .card-badge
                                    .card-badge__info НОВИНКА
                                    .card-badge__have В ПУТИ НА СКЛАД
                                figure.page-card-img
                                    .swiper-wrapper
                                        img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-5.png")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/4c8/315_315_2/STROMBOLI%209,2x36,8_Rose%20Breeze_Habitat%20White_bath.jpg")
                                        img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/48c/315_315_2/atlas-concorde-blaze-001-03-iron.jpg")
                                    ul.page-card-img-hover
                                        li
                                        li
                                        li
                                    .page-card-img-pagination.swiper-pagination
                                .page-card-content.card-collection-content
                                    .card-collection__brand 41zero42
                                    .card-collection__name
                                        span SPECTRE
