include helpers/mixins
//- extends layout/main
//- block variables
//-     -var title = 'попап с контактами'

.calculation-popup-wrap.popup-contact
    .calculation-popup-overlay
        .calculation-popup
            .calculation-popup__close
                .calculation-popup__close-line.calculation-popup__close-line_top
                .calculation-popup__close-line.calculation-popup__close-line_bot
            .calculation-popup__title Контакты сотрудников
            .scrollbar-slider.popup-contact__tabs.swiper-container
                .swiper-wrapper
                    .swiper-slide.popup-contact__tab.popup-contact__tab_active ОТДЕЛ ЗАКАЗОВ
                    .swiper-slide.popup-contact__tab ТЕРРИТОРИАЛЬНЫЕ МЕНЕДЖЕРЫ
                    .swiper-slide.popup-contact__tab РУКОВОДИТЕЛЬ ОТДЕЛА
            .popup-contact__contents
                .popup-contact__content.popup-contact__content_active 
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Ирина Слепова
                        .employee-block__item.employee-block__position 
                            | Старший менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 208 
                        a(href="mailto:region@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | region@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Алексей Ляшенко
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 212
                        a(href="mailto:opt4@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt4@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Анастасия Ситникова
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 203
                        a(href="mailto:opt2@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt2@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Юлия Асташкина
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 202
                        a(href="mailto:opt5@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt5@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Ольга Горохова
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 215
                        a(href="mailto:opt3@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt3@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Павел Верховых
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 205
                        a(href="mailto:opt6@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt6@keramoteka.ru
                .popup-contact__content
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Ирина Слепова
                        .employee-block__item.employee-block__position 
                            | Старший менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 208 
                        a(href="mailto:region@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | region@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Алексей Ляшенко
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 212
                        a(href="mailto:opt4@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt4@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Анастасия Ситникова
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 203
                        a(href="mailto:opt2@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt2@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Юлия Асташкина
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 202
                        a(href="mailto:opt5@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt5@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Ольга Горохова
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 215
                        a(href="mailto:opt3@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt3@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Павел Верховых
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 205
                        a(href="mailto:opt6@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt6@keramoteka.ru
                .popup-contact__content 
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Ирина Слепова
                        .employee-block__item.employee-block__position 
                            | Старший менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 208 
                        a(href="mailto:region@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | region@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Алексей Ляшенко
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 212
                        a(href="mailto:opt4@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt4@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Анастасия Ситникова
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 203
                        a(href="mailto:opt2@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt2@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Юлия Асташкина
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 202
                        a(href="mailto:opt5@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt5@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Ольга Горохова
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 215
                        a(href="mailto:opt3@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt3@keramoteka.ru
                    .popup-contact__content-block.employee-block
                        .employee-block__item.employee-block__name 
                            +icon('persone')
                            | Павел Верховых
                        .employee-block__item.employee-block__position Менеджер отдела заказов
                        .employee-block__item.employee-block__phone 
                            +icon('phone-o')
                            | доб. 205
                        a(href="mailto:opt6@keramoteka.ru").employee-block__item.employee-block__email 
                            +icon('email')
                            | opt6@keramoteka.ru