extends layout/main

block variables
	-var title = 'Главная страница'

block content
	.page-content
		.container
			.page-content-grid
				.page-content-grid-sizer
				.page-content-grid-item.page-slider.swiper-container
					.swiper-wrapper
						.page-slider-item.swiper-slide
							figure.page-slider-item-img
								img(src="static/images/content/main-slider-1.png", alt="img")
							.page-slider-item__info
								.page-slider-item__title НОВИНКА CERSAIE 2019
								.page-slider-item__subtitle ATLAS CONCORDE BOOST
						.page-slider-item.swiper-slide
							figure.page-slider-item-img
								img.lozad(src="static/images/content/main-slider-1.png" data-src="static/images/content/main-slider-1.png", alt="img")
							.page-slider-item__info
								.page-slider-item__title НОВИНКА CERSAIE 2019
								.page-slider-item__subtitle ATLAS CONCORDE BOOST
						.page-slider-item.swiper-slide
							figure.page-slider-item-img
								img.lozad(src="static/images/content/main-slider-1.png" data-src="static/images/content/main-slider-1.png", alt="img")
							.page-slider-item__info
								.page-slider-item__title НОВИНКА CERSAIE 2019
								.page-slider-item__subtitle ATLAS CONCORDE BOOST
					.page-slider-pagination.swiper-pagination
					.page-slider-control.page-slider-next.swiper-button-next
						+icon('expand_more')
					.page-slider-control.page-slider-prev.swiper-button-prev
						+icon('expand_more')
				.page-content-grid-item.page-card
					.page-card-collection.card-collection
						figure.page-card-img
							img.lozad(src="http://dummyimage.com/304" data-src="static/images/content/page-card-1.png", alt="img")
						.page-card-content.card-collection-content
							.card-collection__brand ARCANA
							.card-collection__name RIBE / ELBURG
								+icon('expand_more')
							.card-collection__desc Коллекция ARCANA RIBE / ELBURG представлена ректифицированным матовым керамогранитом в формате 80x80 см. Более авангардные текстуры Ribe, как и более спокойные Elburg, вдохновлены популярным стилем терраццо для создания очаровательных в своей смелости интерьеров.
				.page-content-grid-item.page-card
					.page-card-brand.card-brand
						figure.page-card-img
							img.lozad(src="http://dummyimage.com/304" data-src="static/images/content/page-brand-1.png", alt="img")
						.page-card-content.card-brand-content
							.card-brand__name 
								span.card-brand__name-title ATLAS CONCORDE RUSSIA
								img.card-brand__name-flag(src="static/images/common/russia.svg", alt="flag")
							.card-brand__count 
								.card-brand__count-title
									| 3 КОЛЛЕКЦИИ
									+icon('expand_more')
								ul.card-brand__list 
									li.card-brand__list-item
										a(href="#") Название коллекции
									li.card-brand__list-item
										a(href="#") Название коллекции
									li.card-brand__list-item
										a(href="#") Название коллекции
	.page-content-after
		.container
			.pager
				.pager-content
					a(href="#" class="current-page") 1
					a(href="#") 2
					a(href="#") 3
					a(href="#") ...
					a(href="#") 8
				a.pager-more(href="#" data-page-next='2') 
					+icon('renew')
					span ЗАГРУЗИТЬ ЕЩЕ