extends layout/main

block variables
	-var title = 'Главная страница'

block content
	.container
		.page-content
			.page-content-item.page-slider
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					figure
						.page-card-collection-badge
							.page-card-collection-badge__new НОВИНКА
							.page-card-collection-badge__have В ПУТИ НА СКЛАД
						img(src='static/images/content/page-card-1.png' alt='img')
					.page-card-inner-content.page-card-collection-content
						.page-card-inner-content-brand.page-card-collection-content__brand ARCANA
						.page-card-inner-content-name.page-card-collection-content__name RIBE / ELBURG
						.page-card-inner-content-desc.page-card-collection-content__desc Коллекция ARCANA RIBE / ELBURG представлена ректифицированным матовым керамогранитом в формате 80x80 см. Более авангардные текстуры Ribe, как и более спокойные Elburg, вдохновлены популярным стилем терраццо для создания очаровательных в своей смелости интерьеров.
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					figure
						.page-card-collection-badge
							.page-card-collection-badge__new НОВИНКА
							.page-card-collection-badge__have В ПУТИ НА СКЛАД
						img(src='static/images/content/page-card-2.png' alt='img')
					.page-card-inner-content.page-card-collection-content
						.page-card-inner-content-brand.page-card-collection-content__brand REX CERAMICHE
						.page-card-inner-content-name.page-card-collection-content__name LES BIJOUX DE REX
						.page-card-inner-content-desc.page-card-collection-content__desc Коллекция керамогранита REX LES BIJOUX DE REX вдохновлена мраморами со столь редким и ценным рисунком, что ее можно назвать настоящим произведением искусства. Calacatta Altissimo Blanc, Onyx Blanche, Ombre De Caravage, Brèche Capraia, Marron Imperial, Jaspe Rouge, Sodalite Bleu, Les Quatre Saisons - излучают художественное очарование посредством стиля и большой выразительной силы, характерной для бренда Rex.
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					figure
						.page-card-collection-badge
							.page-card-collection-badge__new НОВИНКА
							.page-card-collection-badge__have В ПУТИ НА СКЛАД
						img(src='static/images/content/page-card-3.png' alt='img')
					.page-card-inner-content.page-card-collection-content
						.page-card-inner-content-brand.page-card-collection-content__brand WOW
						.page-card-inner-content-name.page-card-collection-content__name FLOW
						.page-card-inner-content-desc.page-card-collection-content__desc Утонченная коллекция WOW FLOW / ВАУ ФЛОУ представлена керамогранитом в форме ромбов 14x24 см в пяти актуальных оттенках — White, Taupe, Black, Old Rose, Blue, и трех вариантах "под дерево" — Light, Mid, Dark. Серия дополнена декоративным фоном в пяти основных цветах для создания бесконечного числа переливов. 
							| Широкая тональная вариативность плиток позволяет добиться более выразительного эффекта от облицовки. Основные элементы выпускаются в 6 оттенках в каждом цвете, цветные декоры — в 14 вариантах и "деревянные" ромбы — в 30 вариантах оттенка, которые случайным образом смешаны в коробке.
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					figure
						.page-card-collection-badge
							.page-card-collection-badge__new НОВИНКА
							.page-card-collection-badge__have В ПУТИ НА СКЛАД
						img(src='static/images/content/page-card-4.png' alt='img')
					.page-card-inner-content.page-card-collection-content
						.page-card-inner-content-brand.page-card-collection-content__brand ATLAS CONCORDE
						.page-card-inner-content-name.page-card-collection-content__name BOOST
						.page-card-inner-content-desc.page-card-collection-content__desc Коллекция Atlas Concorde Boost / Атлас Конкорд Буст - представлена керамогранитом и настенной плиткой, имитирующей цемент. Нейтральная палитра керамогранита, перекликаясь с оригинальным цветом стен, наполняет интерьер живой индивидуальностью. Теплые оттенки окисленного материала сочетаются с холодными, характерными для цемента штрихами неяркой по характеру поверхности.
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					figure
						.page-card-collection-badge
							.page-card-collection-badge__new НОВИНКА
							.page-card-collection-badge__have В ПУТИ НА СКЛАД
						img(src='static/images/content/page-card-5.png' alt='img')
					.page-card-inner-content.page-card-collection-content
						.page-card-inner-content-brand.page-card-collection-content__brand 41zero42
						.page-card-inner-content-name.page-card-collection-content__name SPECTRE
						.page-card-inner-content-desc.page-card-collection-content__desc EQUIPE ARTISAN / ЭКИПЕ АРТИСАН — новая эффектная серия керамической плитки для стен, предлагаемая в десяти оттенках — и ярких, и пастельных. Производится в компактных форматах 13.2x13.2 и 6.5x20.
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					figure
						.page-card-collection-badge
							.page-card-collection-badge__new НОВИНКА
							.page-card-collection-badge__have В ПУТИ НА СКЛАД
						img(src='static/images/content/page-card-3.png' alt='img')
					.page-card-inner-content.page-card-collection-content
						.page-card-inner-content-brand.page-card-collection-content__brand WOW
						.page-card-inner-content-name.page-card-collection-content__name FLOW
						.page-card-inner-content-desc.page-card-collection-content__desc Утонченная коллекция WOW FLOW / ВАУ ФЛОУ представлена керамогранитом в форме ромбов 14x24 см в пяти актуальных оттенках — White, Taupe, Black, Old Rose, Blue, и трех вариантах "под дерево" — Light, Mid, Dark. Серия дополнена декоративным фоном в пяти основных цветах для создания бесконечного числа переливов. Широкая тональная вариативность плиток позволяет добиться более выразительного эффекта от облицовки. Основные элементы выпускаются в 6 оттенках в каждом цвете, цветные декоры — в 14 вариантах и "деревянные" ромбы — в 30 вариантах оттенка, которые случайным образом смешаны в коробке.
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					| Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Последний переулка
					| переписали, ты большой гор ее буквенных текст путь предупредила великий, парадигматическая безопасную
					| выйти подзаголовок пояс живет вопроса, строчка щеке. Своего даль бросил пунктуация свою даже по всей
					| назад текста диких свой, запятой, встретил моей заманивший щеке использовало то его, последний маленький
					| на берегу предупреждал прямо семь имени. Продолжил власти по всей даль заголовок предупреждал дорогу
					| образ необходимыми? Использовало ручеек, буквоград последний пунктуация своего вершину рекламных свою,
					| имени не все семантика. Раз оксмокс взобравшись правилами вершину жаренные безорфографичный, вдали
					| города строчка переулка возвращайся, своих если, на берегу первую!
			a(href="#").page-content-item.page-card(style='height:min-content;')
				.page-card-inner.page-card-collection
					| Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Моей власти
					| продолжил строчка пунктуация. Снова своих послушавшись предложения выйти, несколько скатился продолжил
					| переписывается мир до рукопись подпоясал последний, себя большой коварных за. Речью там, он необходимыми
					| семантика наш страну заголовок. Сбить вдали подзаголовок запятой ведущими агентство всеми страну она
					| взгляд за, продолжил не ее, города океана. Даже своего толку о запятых языком предложения предупредила
					| журчит вдали подзаголовок рекламных, текстов маленький подпоясал продолжил диких себя. Даль правилами за
					| переписали? Пор всемогущая курсивных использовало текстами текст вопрос образ океана ему подзаголовок
					| страну. Своего ручеек толку скатился щеке, великий повстречался пор запятой курсивных коварный журчит
					| вопроса встретил напоивший инициал вдали до свое строчка от всех своих алфавит раз использовало
					| маленький. Он, предупредила эта.