extends layout/main

block variables
	-var title = 'Список страниц'

block content
	.container
		ul
			li 
				a(target="_blank" href="/") index.html
			li
				a(target="_blank" href="/collection.html") КОЛЛЕКЦИЯ
			li
				a(target="_blank" href="/catalog.html") КАТАЛОГ  УРОВЕНЬ 1
			li
				a(target="_blank" href="/catalog-2.html") КАТАЛОГ  УРОВЕНЬ 2
			li
				a(target="_blank" href="/dealers.html") ДИЛЕРСКИЙ ОТДЕЛ
			li
				a(target="_blank" href="/orderanddelivery.html") ЗАКАЗ И ДОСТАВКА
			li
				a(target="_blank" href="/about-company.html") О КОМПАНИИ
			li
				a(target="_blank" href="/contacts-shop.html") КОНТАКТЫ ШОУРУМ
			li
				a(target="_blank" href="/contacts-dealers.html") КОНТАКТЫ ДИЛЕРСКИЙ ОТДЕЛ
			li 
				a(target="_blank" href="/contacts-warehouse.html") КОНТАКТЫ СКЛАД
			//- li
				//- a(target="_blank" href="/3d.html") 3D-ВИЗУАЛИЗАЦИЯ
			li
				a(target="_blank" href="/becomeAdealer.html") ЗАЯВКА СТАТЬ ДИЛЕРОМ
			li
				a(target="_blank" href="/favorites.html") ИЗБРАННОЕ
			li
				a(target="_blank" href="/cart.html") КОРЗИНА
			li
				a(target="_blank" href="/404.html") 404
			li
				a(target="_blank" href="/agreement.html") СОГЛАШЕНИЕ
			li
				a(target="_blank" href="/")
			li
				a(target="_blank" href="/")
			li
				a(target="_blank" href="/")
			li
				a(target="_blank" href="/")