include helpers/mixins
//- extends layout/main
//- block variables
//-     -var title = 'попап с контактами'

.calculation-popup-wrap.popup-product
    .calculation-popup-overlay
        .calculation-popup
            .calculation-popup__close
                .calculation-popup__close-line.calculation-popup__close-line_top
                .calculation-popup__close-line.calculation-popup__close-line_bot 
            .popup-product__content
                .popup-product__prompt Для увеличения крутите колесо мыши. Перетаскивайте, зажав  левую кнопку мыши
                #container.popup-product__img-wrap
                    .zoom.popup-product__img
                        img.media(src="", alt="img")
                    .popup-product__img-icon
                        +icon('zoom')
                .popup-product__cart
                    .popup-product__cart-title 
                        | Керамогранит 
                        br
                        | ATLAS CONCORDE RUSSIA 
                        br
                        | Gray Wood
                    ul.popup-product__cart-attributes
                        li.popup-product__cart-attribute
                            .attribute-name Размер
                            .attribute-value 20x120 см                 
                        li.popup-product__cart-attribute
                            .attribute-name Артикул
                            .attribute-value DG_CH_B_BL
                        li.popup-product__cart-attribute
                            .attribute-name Цена
                            .attribute-value 4801 ₽/ м
                                sup 2 
                    table.product-card-content__warehouse.product-card-content__warehouse--gray
                        thead.warehouse-head
                            tr
                                th СКЛАД
                                th МСК
                                th СПБ
                        tbody 
                            tr.warehouse-availability
                                td в наличии 
                                    span.warehouse-unit м
                                        sup 2
                                td 1746
                                td 4768
                            tr.warehouse-availability__reserve
                                td из них в резерве
                                td 1000
                                td 3214
                            tr.warehouse-way
                                td в пути 
                                    span.warehouse-unit м
                                        sup 2
                                td 1234
                                td 1234
                            tr.warehouse-way__reserve.warehouse-empty
                                td из них в резерве
                                td &mdash;
                                td &mdash;
                    form.product-card-content__to-cart-form.popup-product__cart-form
                        .attribute-name Количество
                        .quantity-block
                            .quantity-arrow.quantity-arrow-minus  
                            .quantity-num-wrap
                                input.quantity-num(type="number" value="0")
                            .quantity-arrow.quantity-arrow-plus 
                            .quantity-num-unit.unit м
                                sup 2
                        button.product-card-content__to-cart-btn.add-to-cart(type="submit") 
                            +icon('shopping-cart')
                            span ДОБАВИТЬ В КОРЗИНУ
