extends layout/main

block variables
    -var title = 'РЕЗУЛЬТАТЫ ПОИСКА'

block content
    .page-top.catalog-wrap.result
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li.breadcrumbs-list__item 
                        a.breadcrumbs-list__item-link(href="#") ГЛАВНАЯ
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") КАТАЛОГ
                    li.breadcrumbs-list__item
                        a.breadcrumbs-list__item-link(href="#") Результаты поиска
            .result-title Результаты поиска
            .result-count Найдено коллекций: 32
    .page-content.catalog-content.result-content
        .container
            ul.result-list
                li.result-list__item Фильтр
                li.result-list__item Фильтр
                li.result-list__item Фильтр
                li.result-list__item Фильтр
                li.result-list__item Фильтр
            .page-content-grid
                .page-content-grid-sizer(style="display:none;")
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection.card-collection_active
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img.swiper-container
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-1.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/e43/315_315_2/41zero42-spectre-04.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/a5f/315_315_2/wow-stripes-6.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand ARCANA
                            .card-collection__name RIBE / ELBURG
                                +icon('expand_more')
                            .card-collection__desc Коллекция ARCANA RIBE / ELBURG представлена ректифицированным матовым керамогранитом в формате 80x80 см. Более авангардные текстуры Ribe, как и более спокойные Elburg, вдохновлены популярным стилем терраццо для создания очаровательных в своей смелости интерьеров.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-2.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/028/315_315_2/equipe-artisan-4.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/08d/315_315_2/AtlasConcorde-Boost-03.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand REX CERAMICHE
                            .card-collection__name LES BIJOUX DE REX
                                +icon('expand_more')
                            .card-collection__desc Коллекция керамогранита REX LES BIJOUX DE REX вдохновлена мраморами со столь редким и ценным рисунком, что ее можно назвать настоящим произведением искусства. Calacatta Altissimo Blanc, Onyx Blanche, Ombre De Caravage, Brèche Capraia, Marron Imperial, Jaspe Rouge, Sodalite Bleu, Les Quatre Saisons - излучают художественное очарование посредством стиля и большой выразительной силы, характерной для бренда Rex.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-3.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/045/315_315_2/dna-amb-13-enamel-white-square-rounded-edge.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/35d/315_315_2/AtlasConcorde_Prism_M01_19.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand WOW
                            .card-collection__name FLOW
                                +icon('expand_more')
                            .card-collection__desc Утонченная коллекция WOW FLOW / ВАУ ФЛОУ представлена керамогранитом в форме ромбов 14x24 см в пяти актуальных оттенках — White, Taupe, Black, Old Rose, Blue, и трех вариантах "под дерево" — Light, Mid, Dark. Серия дополнена декоративным фоном в пяти основных цветах для создания бесконечного числа переливов. Широкая тональная вариативность плиток позволяет добиться более выразительного эффекта от облицовки. Основные элементы выпускаются в 6 оттенках в каждом цвете, цветные декоры — в 14 вариантах и "деревянные" ромбы — в 30 вариантах оттенка, которые случайным образом смешаны в коробке.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-4.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/98a/315_315_2/41zero42-biscuit-amb-14.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/d9c/315_315_2/arcana-stracciatella-08.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand ATLAS CONCORDE
                            .card-collection__name BOOST
                                +icon('expand_more')
                            .card-collection__desc Коллекция Atlas Concorde Boost / Атлас Конкорд Буст - представлена керамогранитом и настенной плиткой, имитирующей цемент. Нейтральная палитра керамогранита, перекликаясь с оригинальным цветом стен, наполняет интерьер живой индивидуальностью. Теплые оттенки окисленного материала сочетаются с холодными, характерными для цемента штрихами неяркой по характеру поверхности.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-5.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/4c8/315_315_2/STROMBOLI%209,2x36,8_Rose%20Breeze_Habitat%20White_bath.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/48c/315_315_2/atlas-concorde-blaze-001-03-iron.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand 41zero42
                            .card-collection__name SPECTRE
                                +icon('expand_more')
                            .card-collection__desc EQUIPE ARTISAN / ЭКИПЕ АРТИСАН — новая эффектная серия керамической плитки для стен, предлагаемая в десяти оттенках — и ярких, и пастельных. Производится в компактных форматах 13.2x13.2 и 6.5x20.  
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection.card-collection_active
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img.swiper-container
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-1.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/e43/315_315_2/41zero42-spectre-04.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/a5f/315_315_2/wow-stripes-6.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand ARCANA
                            .card-collection__name RIBE / ELBURG
                                +icon('expand_more')
                            .card-collection__desc Коллекция ARCANA RIBE / ELBURG представлена ректифицированным матовым керамогранитом в формате 80x80 см. Более авангардные текстуры Ribe, как и более спокойные Elburg, вдохновлены популярным стилем терраццо для создания очаровательных в своей смелости интерьеров.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-2.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/028/315_315_2/equipe-artisan-4.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/08d/315_315_2/AtlasConcorde-Boost-03.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand REX CERAMICHE
                            .card-collection__name LES BIJOUX DE REX
                                +icon('expand_more')
                            .card-collection__desc Коллекция керамогранита REX LES BIJOUX DE REX вдохновлена мраморами со столь редким и ценным рисунком, что ее можно назвать настоящим произведением искусства. Calacatta Altissimo Blanc, Onyx Blanche, Ombre De Caravage, Brèche Capraia, Marron Imperial, Jaspe Rouge, Sodalite Bleu, Les Quatre Saisons - излучают художественное очарование посредством стиля и большой выразительной силы, характерной для бренда Rex.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-3.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/045/315_315_2/dna-amb-13-enamel-white-square-rounded-edge.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/35d/315_315_2/AtlasConcorde_Prism_M01_19.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand WOW
                            .card-collection__name FLOW
                                +icon('expand_more')
                            .card-collection__desc Утонченная коллекция WOW FLOW / ВАУ ФЛОУ представлена керамогранитом в форме ромбов 14x24 см в пяти актуальных оттенках — White, Taupe, Black, Old Rose, Blue, и трех вариантах "под дерево" — Light, Mid, Dark. Серия дополнена декоративным фоном в пяти основных цветах для создания бесконечного числа переливов. Широкая тональная вариативность плиток позволяет добиться более выразительного эффекта от облицовки. Основные элементы выпускаются в 6 оттенках в каждом цвете, цветные декоры — в 14 вариантах и "деревянные" ромбы — в 30 вариантах оттенка, которые случайным образом смешаны в коробке.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-4.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/98a/315_315_2/41zero42-biscuit-amb-14.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/d9c/315_315_2/arcana-stracciatella-08.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand ATLAS CONCORDE
                            .card-collection__name BOOST
                                +icon('expand_more')
                            .card-collection__desc Коллекция Atlas Concorde Boost / Атлас Конкорд Буст - представлена керамогранитом и настенной плиткой, имитирующей цемент. Нейтральная палитра керамогранита, перекликаясь с оригинальным цветом стен, наполняет интерьер живой индивидуальностью. Теплые оттенки окисленного материала сочетаются с холодными, характерными для цемента штрихами неяркой по характеру поверхности.
                .page-content-grid-item.page-card
                    a(href="#").page-card-collection.card-collection
                        .card-badge
                            .card-badge__info НОВИНКА
                            .card-badge__have В ПУТИ НА СКЛАД
                        figure.page-card-img
                            .swiper-wrapper
                                img.lozad.swiper-slide(src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='272' height='272' viewBox='0 0 272 272' fill='none'%3E%3Cpath d='M272 0H0V272H272V0ZM136 95L177.1 136.1 136 177.1 95 136.1 136 95ZM146 126.1H126V146.1H146V126.1ZM151 121.1V133.6H167.5L138.5 104.6V121.1H151ZM121 121.1H133.5V104.6L104.6 133.6H121V121.1ZM121 151.1V138.6H104.6L133.5 167.6V151.1H121ZM151 151.1H138.5V167.6L167.5 138.6H151V151.1Z' fill='%23F1F1F1'/%3E%3C/svg%3E" data-src="static/images/content/page-card-5.png", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/4c8/315_315_2/STROMBOLI%209,2x36,8_Rose%20Breeze_Habitat%20White_bath.jpg", alt="img")
                                img.lozad.swiper-slide(data-src="https://www.keramoteka.ru/upload/resize_cache/uf/48c/315_315_2/atlas-concorde-blaze-001-03-iron.jpg", alt="img")
                            ul.page-card-img-hover
                                li
                                li
                                li
                            .page-card-img-pagination.swiper-pagination
                        .page-card-content.card-collection-content
                            .card-collection__brand 41zero42
                            .card-collection__name SPECTRE
                                +icon('expand_more')
                            .card-collection__desc EQUIPE ARTISAN / ЭКИПЕ АРТИСАН — новая эффектная серия керамической плитки для стен, предлагаемая в десяти оттенках — и ярких, и пастельных. Производится в компактных форматах 13.2x13.2 и 6.5x20.  
        .page-content-after
            .container
                .pager
                    .pager-content
                        a(href="#" class="current-page") 1
                        a(href="#") 2
                        a(href="#") 3
                        a(href="#") ...
                        a(href="#") 8
                    a.pager-more(href="#" data-page-next='2') 
                        +icon('renew')
                        span ЗАГРУЗИТЬ ЕЩЕ