header { flex: 0 0 auto; }

.header {
    &-top {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #C8C5C5;
        font-size: 13px;
        &__left {
            &-menu {
                display: flex;
                > li {
                    padding: 10px 0 6px 0;
                    margin-right: 32px;
                    @media (max-width: 1200px) {
                        margin-right: 16px;
                    }
                }
            }
        }
        &__right {
            &-menu {
                display: flex;
                > li {
                    padding: 10px 0 6px 0;
                    margin-left: 25px;
                    display: flex;
                    position: relative;
                    &:hover .header-top__right-drop-menu {
                        visibility: visible;
                        opacity: 1;
                        top: 30px;
                    } 
                    &:hover .header-top__more {
                        transform: rotate(180deg);
                    }
                    @media (max-width: 1200px) {
                        margin-left: 16px;
                    }
                }
            }
        }
        &__more {
            transition: all .3s ease-out;
        }
        a {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.04em;
            color: linear-gradient(0deg, #333333, #333333);
            transition: .3s;
            padding-right: 7px;
            &:hover {
                color: $colorGray;
            }
        }
    }
    &-main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        .logo {
            img {
                @media ( max-width: 1225px ) {
                    height: 18px;
                }
            }
        }
        @media ( max-width: 768px ) {
            padding-top: 11px;
        }
    }
    &-content {
        display: flex;
        align-items: center;
        &-block {
            display: flex;
            &__text {
                font-size: 14px;
                line-height: 16px;
                padding: 0 8px;
                @media ( max-width: 768px ) {
                    font-size: 12px;
                    line-height: 14px;
                    letter-spacing: 0.005em;
                }
            }
            &__info {
                font-weight: bold;
            }
        }
        &__address {
            max-width: 278px;
            position: relative;
            margin-right: 30px;
            .header-content-block__info {
                position: absolute;
                right: 0;
                @include border-bottom;
            }
            @media ( max-width: 768px ) {
                max-width: 251px;
                margin-right: 27px;
            }
        }
        &__phone {
            margin-right: 30px;
            white-space: nowrap;
            transition: all .3s ease-out;
            position: relative;
            cursor: pointer;
            .header-content-block__info {
                display: block;
            }
            @media ( max-width: 1200px ) {
                .header-content__phone__more,
                .header-content-block__text {
                    display: none;
                }
            }
            @media ( max-width: 768px ) {
                margin-right: 25px;
            }
            &:hover .header-content__phone-drop-menu {
                opacity: 1;
                visibility: visible;
                top: -17px;
            }
        }
        &__worktime {
            margin-right: 40px;
            white-space: nowrap;
            @media ( max-width: 1200px ) {
                .header-content-block__text {
                    display: none;
                }
            }
            @media ( max-width: 768px ) {
                margin-right: 25px;
            }
            .header-content-block__info {
                margin-left: 10px;
            }
        }
        &-circle {
            min-height: 48px;
            min-width: 48px;
            cursor: pointer;
            background: $colorDark;
            border-radius: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .svg-sprite-icon {
                height: 24px;
                width: 24px;
                fill: $colorLight;
                transition: .3s;
            }
            &:hover .svg-sprite-icon {
                fill: $colorAccent;
            }
            &__badge {
                height: 24px;
                width: 24px;
                background: $colorAccent;
                border-radius: 50%;
                position: absolute;
                right: -12px;
                top: 0;
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__favourites {
            margin-right: 25px;
        }
    }
    &-drop-menu {
        position: absolute;
        background: $colorLight;
        border-radius: 4px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), 0px 8px 8px rgba(50, 50, 71, 0.08), 0px 8px 16px rgba(50, 50, 71, 0.06);
        z-index: 30;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        transition: all .3s ease-out;
        li {
            border-bottom: 1px solid #C8C5C5;
            margin: 0;
            padding: 21px 38px 19px 16px;
            display: block;
            position: relative;
            &:before {
                content: '';
                height: 100%;
                width: 4px;
                background: $colorAccent;
                display: none;
                position: absolute;
                left: 0;
                top: 0;
            }
            &:hover:before {
                display: block;
            }
        }
    }
    &-bot {
        background: $colorDark;
        padding: 12px 0;
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-inner {
            display: flex;
            align-items: center;
            &__catalog {
                flex-grow: 1;
            }
            &__search {
                width: 410px;
                transition: .3s;
                @media (max-width: 1440px) {
                    justify-content: space-between;
                    width: 249px;
                    position: relative;
                }
                @media (max-width: 768px) {
                    width: 426px;
                }
            }
        }
        &-catalog__link {
            color: $colorLight;
            text-transform: uppercase;
            @include border-bottom;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.04em;
        }   
        &-list {
            display: flex;
            padding: 0 30px;
            @media (max-width: 1440px) {
                flex-grow: 1;
                justify-content: space-between;
            }
            @media (max-width: 768px) {
                display: none;
            }
            &__item {
                position: relative;
                &:hover .header-bot-list-drop-menu {
                    visibility: visible;
                    opacity: 1;
                }
                a {
                    color: #F1F1F1;
                    text-transform: uppercase;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.04em;
                    padding: 12px;
                    display: block;
                    white-space: nowrap;
                    @media (max-width: 1440px) {
                        padding: 0;
                    }
                }
            }
            .letter {
                &_u-z, &_n-z {display: none;}
            }
            @media (max-width: 1440px) {
                .zero-nine {
                    order: -1;
                }
                .letter {
                    &_u, &_v, &_w, &_x, &_z {
                        display: none;
                    }
                    &_u-z {display: block;}
                }
            }
            @media (max-width: 1200px) {
                .letter {
                    &_n, &_o, &_p, &_q, &_r, &_s, &_t, &_u-z {
                        display: none;
                    }
                    &_n-z {display: block;}
                }
            }
        }
        &-filter {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-right: 15px;
            position: relative;
            &:after {
                content: "";
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 16px 16px 0 16px;
                border-color: $colorDark transparent transparent transparent;
                position: absolute;
                bottom: calc(-100% - 5px);
                left: 50%;
                transform: translateX(-50%) scaleY(0);
                z-index: 12;
                transition: all .3s ease-out;
                transform-origin: 0 0;
            }
            &_active {
                position: absolute;
            }
            &_triangle {
                .header-bot-filter__text {
                    color: $colorAccent;
                }
                &:after {
                    transform: translateX(-50%) scaleY(1);
                }
            }
            // &__icon {}
            &__text {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 13px;
                letter-spacing: 0.04em;
                color: #999999;
                max-width: 85px;
                margin-left: 9px;
            }
        }
        &-search {
            display: flex;
            justify-content: flex-end;
            flex-grow: 1;
            position: relative;
            transition: all .3s ease-out;
            height: 40px;
            &_active {
                width: 100%;
                padding-left: 0;
            }
            @media (max-width: 1440px) {
                padding-left: 0px;
                flex-grow: 0;
            }
            @media (max-width: 768px) {
                flex-grow: 1;
            }
            &__input {
                width: 100%;
                padding: 10px 15px 10px 14px;
                border-radius: 4px;
                transition: all .3s ease-out;
                max-width: 249px;
                height: auto;
                z-index: 13;
                border-right: 0;
                @media (max-width: 1440px) {
                    max-width: 124px;
                }
                @media (max-width: 768px) {
                    max-width: 282px;
                }
                &_active {
                    color: $colorBlackText;
                    max-width: 100%;
                }
                &::placeholder {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.04em;
                    color: #999999;
                }
                &-border_active {
                    border: 2px solid $colorAccent;
                    // z-index: 12;
                }
            }
            &__nav {
                position: absolute;
                display: flex;
                top: 0;
                right: 0;
                height: 40px;
                z-index: 13;
            }
            &__icon {
                z-index: 2;
                background: $colorLight url('/static/images/common/search.svg') center no-repeat;
                padding: 0;
                text-indent: -999px;
                min-width: 36px;
                cursor: pointer;
                border-radius: 0 4px 4px 0;
                transition: .3s;
                border-left: 0;
                height: 40px;
                &_active {
                    border-color: $colorAccent;
                    &:hover {
                        background-color: $colorAccent;
                    }
                }
                &:focus {
                    border-color: #D9D9D9;
                }
            }
            &__clear {
                height: 36px;
                transition: all .3s ease-out;
                border: none;
                background: $colorLight url('/static/images/common/search-clear.svg') center no-repeat;
                transform: translateY(2px) scale(0);
                cursor: pointer;
                &_active {
                    transform: translateY(2px) scale(1);
                    border-right: 2px solid $colorAccent;
                    cursor: pointer;
                }
            }
        }
    }
    &-filter {
        background: $colorLight;
        padding-top: 33px;
        padding-bottom: 26px;
        position: absolute;
        z-index: 11;
        left: 50%;
        transform: translateX(-50%) translateY(20px);
        width: 100%;
        transition: all .3s ease-out;
        visibility: hidden;
        opacity: 0;
        &_active {
            transform: translateX(-50%) translateY(0);
            visibility: visible;
            opacity: 1;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03), 0px 4px 16px rgba(0, 0, 0, 0.05);
        }
        &-top {
            display: flex;
            justify-content: space-between;
            padding-bottom: 26px;
            label {
                padding: 6px 14px 6px 10px;
                border-radius: 6px;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.04em;
                color: #828282;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
            input[type="checkbox"] {
                margin-right: 12px;
            }
            &-left {
                display: flex;
                label {
                    background: #F1F1F1;
                    margin-right: 10px;
                }
            }
            &-right {
                display: flex;
                label {
                    margin-left: 10px;
                }
            }
        }
        &-main {
            background: #F1F1F1;
            padding: 8px 0;
            position: relative;
            margin-bottom: 17px;
            &:before,
            &:after {
                content: '';
                display: block;
                background: #F1F1F1;
                height: 100%;
                width: 8px;
                position: absolute;
                top: 0;
            }
            &:before {
                left: -8px;
            }
            &:after {
                right: -8px;
            }
        }
        &-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 8px;
            &-item {
                background: $colorLight;
                padding: 14px 22px 14px 50px;
                display: inline-flex;
                justify-content: space-between;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.04em;
                cursor: pointer;
                position: relative;
               .icon-expand_more_brs {
                   width: 12px;
                   height: 8px;
                   fill: #999999;
               }
            }
        }
        &-checked {
            padding-top: 16px;
            padding-bottom: 6px;
        }
        &-submit {
            display: block;
            margin: auto;
            padding: 18px 36px 14px 36px;
            background: $colorDark;
            border: none;
            color: $colorLight;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.04em;
            cursor: pointer;
        }
    }
}

.header-top__right-drop-menu {
    width: 188px;
    top: 40px;
}
.header-content__phone-drop-menu {
    width: 218px;
    top: 0;
    li {
        height: 73px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 19px;
        padding-left: 16px;
        font-size: 14px;
    }
    &-inner {}
    li span {
        display: block;
        color: $colorGray;
    }
    .header-content-circle {
        background: $colorLight;
        border: 2px solid $colorAccent;
        .icon-phone {
            fill: $colorAccent;
        }
        &:hover {
            background: $colorAccent;
        }
        &:hover .icon-phone {
            fill: $colorLight;
        }
    }
}

.header-bot-list-drop-menu {
    padding: 8px 16px;
    overflow: visible;
    left: -4px;
    top: 37px;
    max-height: 416px;
    display: flex;
    @media (max-width: 1440px) {
        left: -15px;
        top: 25px;
    }
    li {
        margin-right: 8px;
        width: 200px;
        padding: 0;
        &:before {
            background: transparent;
        }
        a {
            padding: 11px 8px 8px 8px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0.01em;
            color: $colorBlackText;
            text-transform: none;
        }
        ul {
            li {
                &:last-child {
                    border-bottom: none;
                }
                &:hover {
                    background: #F1F1F1;
                }
            }
        }
    }
    &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 4.5px 5px 4.5px;
        border-color: transparent transparent $colorLight transparent;
        position: absolute;
        top: -3px;
    }
}

.header-filter-list-drop-menu {
    top: 100%;
    left: 0;
    width: 100%;
    padding: 5px 16px;
    border-radius: 0 0 4px 4px;
    border-top: 2px solid $colorAccent;
    max-height: 349px;
    overflow: auto;
    li {
        cursor: auto;
        padding: 0;
        padding-top: 11px;
        padding-bottom: 8px;
        &:before {
            background: transparent;
        }
        &:last-child {
            border: none
        }
        label {
            display: flex;
            align-items: center;
        }
        input[type='checkbox'] {
            margin-right: 13px;
        }
    }
    &::-webkit-scrollbar{
        width: 4px;
    }
    &::-webkit-scrollbar-thumb{
        border-width:1px 1px 1px 1px;
        border-color: #999999;
        background-color: #999999;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-track-piece {
        background: #D9D9D9;
    }
    &_active {
        opacity: 1;
        visibility: visible;
    }
}

.bx_searche {
    position: absolute;
    background: antiquewhite;
    top: -8px;
    left: -8px;
    padding: 60px 10px 10px 10px;
    width: calc(100% + 16px);
    border-radius: 4px;
    transform: translateY(30px);
    opacity: 0;
    // display: none;
    z-index: -1;
    transition: .3s;
}
.bx_searche_active {
    // display: block;
    z-index: 12;
    opacity: 1;
    transform: translateY(0);
}
