footer.footer
    .container
        .footer-content
            .footer-content-info
                figure.logo
                    img(src='static/images/common/logo.svg' alt='logo')
                .footer-content-info__copy © 2020 «КЕРАМОТЕКА» — поставщик керамической плитки, керамогранита и мозаики ведущих европейских производителей. Все права защищены
                .footer-content-info__requisites ООО "КЕРАМОТЕКА РИТЕЙЛ" / ОГРН 1177746532160 / ИНН 7734403694 
                   a(href="/agreement.html").footer-content-info__requisites-agreement Соглашение об использовании персональных данных
            .footer-content-lists
                ul.footer-content-list
                    li.footer-content-list__title Покупателям
                    li.footer-content-list__item
                        a(href="#") Как сделать заказ?
                    li.footer-content-list__item
                        a(href="#") Способы оплаты
                    li.footer-content-list__item
                        a(href="#") Доставка
                    li.footer-content-list__item
                        a(href="#") Самовывоз
                    li.footer-content-list__item
                        a(href="#") Возврат
                    li.footer-content-list__item
                        a(href="#") Помощь
                ul.footer-content-list
                    li.footer-content-list__title Сотрудничество
                    li.footer-content-list__item
                        a(href="#") Дилерам
                    li.footer-content-list__item
                        a(href="#") Строительным компаниям
                    li.footer-content-list__item
                        a(href="#") Дизайнерам
                    li.footer-content-list__item.footer-content-list__item-cta.cta
                        a(href="#") Заявка на расчет
                ul.footer-content-list
                    li.footer-content-list__title Компания
                    li.footer-content-list__item
                        a(href="#") О нас
                    li.footer-content-list__item
                        a(href="#") Реквизиты
                    li.footer-content-list__item
                        a(href="#") Контакты
                    li.footer-content-list__item.footer-content-list__item-job
                        a(href="#") Вакансии
                    li.footer-content-list__item.footer-content-list__item-control Cлужба контроля качества: 
                        a(href="mailto:director@keramoteka.ru") director@keramoteka.ru
                .footer-content-social
                    a.footer-content-social__link.footer-content-social__link-fb(href="#")
                        +icon('fb')
                    a.footer-content-social__link.footer-content-social__link-insta(href="#")
                        +icon('insta')
                .footer-content-list__item.footer-content-list__item-control.footer-content-list__item-control-mobile Cлужба контроля качества: 
                        a(href="mailto:director@keramoteka.ru") director@keramoteka.ru
            #up
                +icon('down_big')
    .footer-bot 
        .container 
            .footer-bot-content Информация, размещенная на сайте, не является публичной офертой (ст.437 ГК РФ) и не влечет за собой обязательств по заключению договора купли-продажи товара по указанным ценам и в указанном ассортименте. Наличие товара на складе, окончательная стоимость товара и другие условия купли-продажи уточняются у представителя компании/индивидуального предпринимателя. Цвет товара на фотографиях может незначительно отличаться от реального цвета товара. Указанное обстоятельство не является основанием для предъявления каких-либо претензий со стороны покупателя.
